<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <div class="login-box">
    <div class="login-icon">
      <img src="../../../static/assets/login_icon.png" class="icon">
    </div>
    <div class="input-box">
      <input class="input-number" placeholder="请输入手机号码" type="tel" maxlength="11" v-model="mobile">
      <img class="delete" src="../../../static/assets/delete.png" v-if="mobile !== ''" @click="deleteMobile"/>
    </div>
    <div class="input-code-box">
      <input class="input-code" placeholder="请输入验证码" v-model="smsCode">
      <p type="button" class="get-code" @click="getMessageCode" :disabled="codeDisabled">{{smsCodeText}}</p>
    </div>
    <p class="prompt">如果您还没有用此手机号注册i百联，我们将为您创建i百联账号</p>
    <p @click="login" v-bind:class="{ login_gray: isGray,'blue': isBlue}">登录</p>
    <div class="protocol-box">
      <p>注册即视为同意《</p>
      <p class="line-text" @click="toBlProtocol">百联通会员注册协议</p>
      <p>》</p>
    </div>
    <!--<div>-->
      <!--<button open-type="getUserInfo" lang="zh_CN" @getuserinfo="onGotUserInfo">获取用户信息</button>-->
    <!--</div>-->
    <!--<div>-->
      <!--<button open-type="getPhoneNumber" @getphonenumber="getPhoneNumber">获取手机号</button>-->
    <!--</div>-->
  </div>
</template>

<script>
  import api from "./api";
  import utils from "../../utils";

  export default {
    name: "login",
    data() {
      return {
        mobile: "",
        isGray: true,
        isBlue: false,
        smsCodeText: "获取验证码",
        codeDisabled: false,
        smsCode: "",
        unionId: ""
      };
    },
    // onShow() {
    //   // 授权
    //   console.log("++++++++++++++   onShow   ++++++++++++++++");
    //   this.authorization();
    // },
    methods: {
      deleteMobile() {
        this.mobile = "";
      },
      // 获取短信验证码
      getMessageCode() {
        if (this.mobile && /^1[34578]\d{9}$/.test(this.mobile)) {
          api.getMassageCode({
            mobile: this.mobile
          }).then(data => {
            if (data.resCode === "00100000") {
              let times = 60;
              this.timeId = setInterval(() => {
                if (times > 0) {
                  this.codeDisabled = true;
                  this.smsCodeText = "重新获取(" + (times--) + "s)";
                } else {
                  this.codeDisabled = false;
                  this.smsCodeText = "获取短信验证码";
                  clearInterval(this.timeId);
                }
              }, 1000);
            } else {
              wx.showToast({
                title: "短信验证码获取失败，请稍后重试！！",
                icon: "none"
              });
            }
          });
        } else {
          this.valPhone();
        }
      },
      // 验证手机号
      valPhone() {
        if (this.mobile === "") {
          wx.showToast({
            title: "手机号码不能为空！",
            icon: "none"
          });
          return false;
        } else if (!/^1[34578]\d{9}$/.test(this.mobile)) {
          wx.showToast({
            title: "手机号码有误！",
            icon: "none"
          });
          return false;
        }
        return true;
      },
      getUnionId(code, iv, encryptedData) {
        let params = {
          appType: "wx6f897475d893f1dc",
          code: code,
          encryptedData: encryptedData,
          iv: iv
        };
        let that = this;
        api.getDecryptInfoByCode(params).then(data => {
          console.log("getUnionId: " + JSON.stringify(data));
          if (data.obj) {
            let json = JSON.parse(data.obj);
            console.log("unionId: " + json.data.unionId);
            that.unionId = json.data.unionId;
            that.queryByThirdPartyUid(json.data.unionId);
          }
        });
      },
      getPhoneNum(code, iv, encryptedData) {
        let params = {
          appType: "wx6f897475d893f1dc",
          code: code,
          encryptedData: encryptedData,
          iv: iv
        };
        api.getDecryptInfoByCode(params).then(data => {
          console.log("getPhoneNum: " + JSON.stringify(data));
          if (data.obj) {
            let json = JSON.parse(data.obj);
            this.mobile = json.data.phoneNumber;
          }
        });
      },
      queryByThirdPartyUid(unionId) {
        console.log("queryByThirdPartyUid===============");
        api.queryByThirdPartyUid({
          third_party_id: this.unionId,
          third_party_id_type: "1"
        }).then(data => {
          console.log("queryByThirdPartyUid: " + JSON.stringify(data));
          if (data.resCode == "00100000") {
            wx.showToast({
                title: "已绑定状态",
                icon: "none"
              });
            let json = JSON.parse(data.obj);
            console.log("member_id = " + json.member_id + "  mobile = " + json.mobile);
            wx.setStorageSync("member_id", json.member_id);
            wx.setStorageSync("member_token", json.member_token);
            wx.setStorageSync("mobile", json.mobile);
          } else {
            wx.showToast({
                title: "未绑定状态",
                icon: "none"
              });
          }
        });
      },
      getUserInfo() {
        let that = this;
        wx.login({
          success(res) {
            let code = res.code;
            if (code) {
              wx.getUserInfo({
                success: function(res) {
                  console.log("getUserInfo: " + JSON.stringify(res));
                  that.getUnionId(code, res.iv, res.encryptedData);
                }
              });
            }
          }
        });
      },
      // 授权
      authorization() {
        let that = this;
        wx.getSetting({
          success(res) {
            console.log("getSetting: " + JSON.stringify(res.authSetting));
            if (res.authSetting['scope.userInfo']) {
              that.getUserInfo();
            } else {
              wx.showToast({
                title: "未授权",
                icon: "none"
              });
            }
          }
        });
      },
      registerLoginAndBind() {
        console.log("registerLoginAndBind====");
        api.weixinRegisterLoginAndBind({
          loginId: this.mobile,
          channelId: "2",
          loginType: "code",
          mobile: this.mobile,
          smsCode: this.smsCode,
          sysid: "1104",
          third_party_id: wx.getStorageSync('unionId'),
          third_party_id_type: "1",
          third_party_mobile: this.mobile
        }).then(data => {
          console.log("registerLoginAndBind: " + JSON.stringify(data));
          let json = JSON.parse(data.obj);
          if (json.resCode === "00100000") {
            utils.Toast('登录成功');
            wx.setStorageSync("member_id", json.member_id);
            wx.setStorageSync("member_token", json.member_token);
            wx.setStorageSync("blUserInfo", json);
            wx.navigateBack({
              delta: 1
            });
          } else {
            if (json.msg) {
              wx.showToast({
                title: json.msg,
                icon: "none"
              });
            } else {
              wx.showToast({
                title: "登录失败",
                icon: "none"
              });
            }
          }
        });
      },
      login() {
        if (this.mobile !== "") {
          if (this.smsCode !== "") {
            this.registerLoginAndBind();
          } else {
            wx.showToast({
              title: "请输入短信验证码",
              icon: "none"
            });
          }
        } else {
          wx.showToast({
              title: "请输入手机号",
              icon: "none"
            });
        }
      },
      toBlProtocol() {
        // 跳转到百联协议" /pages/rules/main"
        console.log("协议======");
        const url = "../rules/main";
        wx.navigateTo({ url })
      },
      onGotUserInfo: function(e) {
        console.log("onGotUserInfo: " + JSON.stringify(e))
        let that = this;
        wx.login({
          success(res) {
            let code = res.code;
            if (code) {
              that.getUnionId(code, e.target.iv, e.target.encryptedData);
            }
          }
        });
      },
      getPhoneNumber (e) {
        console.log(e.target.iv)
        console.log(e.target.encryptedData)
        let that = this;
        wx.login({
          success(res) {
            console.log("wx.login: ");
            if (res.code) {
              that.getPhoneNum(res.code, e.target.iv, e.target.encryptedData);
            }
          }
        });
      }
    },
    watch: {
      mobile: function(value) {
        if (value !== "") {
          this.isGray = false;
          this.isBlue = true;
        } else {
          this.isGray = true;
          this.isBlue = false;
        }
      }
    }
  };
</script>

<style scoped>
  .login-box {
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    height: 100%;
  }

  .login-icon {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .icon {
    width: 90px;
    height: 90px;
    margin-top: 16px;
  }

  .input-box {
    width: 100%;
    height: 29px;
    border-bottom: 0.5px solid #DADADA;
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input-number {
    font-size: 14px;
    color: #333;
  }
  .delete {
    width: 18px;
    height: 18px;
  }
  .input-code-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 29px;
    border-bottom: 0.5px solid #DADADA;
    margin-top: 40px;
    justify-content: space-between;
  }

  .input-code {
    font-size: 14px;
    color: #000;
  }

  .get-code {
    font-size: 13px;
    color: #FE6693;
  }

  .prompt {
    color: #A3A3A3;
    font-size: 12px;
    margin-top: 19px;
  }

  .login_gray {
    margin-top: 38px;
    font-size: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #EEEEEE;
    border: 0 solid #fff;
    border-radius: 6px;
  }

  .blue {
    margin-top: 38px;
    font-size: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #4D7BF3;
    border: 0 solid #fff;
    border-radius: 6px;
  }

  .protocol-box {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    color: #A3A3A3;
  }

  .line-text {
    border-bottom: 0.5px solid #A3A3A3;
  }

</style>
