<template>
  <div>
    <img class="bg" v-if="assetsPath" :src="assetsPath + '/download/download.png'" mode="widthFix">
  </div>
</template>

<script>

export default {
  data () {
    return {
    }
  },
  computed: {
    assetsPath() {
      return this.$assetsPath
    }
  },
  components: {
  },
  methods: {
  },
  created () {
  }
}
</script>

<style lang="scss" scoped>
.bg{
  width: 100%;
}
</style>
