<template>
  <div>
    <web-view src="https://mh5.st.bl.com/h5/home"></web-view>
  </div>
</template>

<script>
export default {

  name: 'webview',

  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
</style>
