<template>
	<div class="myexpress" :class="{'hide': isHide}">
		<myExpress :express="expressList" @isHide="isFixed"></myExpress>
		<div class="show-more" @click="moreExpress" v-if="isThree && !config.isThreeMonth"><p>以上内容为三个月内寄件</p>查看更多寄件 ></div>
		<div class="show-more" @click="querySendExpress" v-if="isThree && config.isThreeMonth">查看更多寄件 ></div>
		<div class="nothing" v-show="isNothing"><img v-if="assetsPath" :src="assetsPath + '/search/no.png'"><p>暂无寄件</p></div>
	</div>
</template>

<script>
import api from './api'
import utils from '../../utils'
import myExpress from '@/components/orderInfo'
export default {
	name: "mySend",
	data() {
		return {
			isThree: false,
			isHide: false,
			isNothing: false,
			expressList: [],
			toatlCount: 1,
			config: {
				currentPage: 1,
				isThreeMonth: 0,
				memberId: wx.getStorageSync('member_id') || '100000002718518',
				pageSize: 10
			}
		}
	},
	components: {
		myExpress
	},
	onLoad() {
		console.log(this.config.memberId)
		this.querySendExpress()
	},
    onPullDownRefresh() {
        this.resetList()
    },
	onReachBottom() {
		console.log('bot')
		this.querySendExpress()
	},
	methods: {
		isFixed() {
			this.isHide == true ? this.isHide = false : this.isHide = true
		},
		resetList() {
			this.expressList = []
			this.toatlCount = 1
			this.config.currentPage = 1
			this.config.isThreeMonth = 0
			this.querySendExpress()
		},
		moreExpress() {
			this.expressList = []
			this.toatlCount = 1
			this.config.currentPage = 1
			this.config.isThreeMonth = 1
			this.querySendExpress()
		},
		querySendExpress() {
			if (this.toatlCount > this.expressList.length) { // && this.config.memberId
                wx.showLoading({
                    title: '加载中',
                })
				api.querySendExpress(this.config).then(data => {
					if (data.resCode == '00100000') {
						this.config.currentPage += 1
						let obj = JSON.parse(data.obj)
						this.toatlCount = obj.count
						if (obj.list && obj.list.length) {
							let array = obj.list
							for (let o of array) {
								o.newexpressNo = o.expressNo.replace(/[\f\t\v]/g, '').replace(/(\d{3})(?=\d)/g, '$1 ')
							}
							this.expressList = this.expressList.concat(array)
						}
						console.log(obj)
					} else {
						utils.Toast(data.msg)
					}
					console.log(this.toatlCount)
					this.toatlCount > 0 ? this.isNothing = false : this.isNothing = true
					this.expressList && this.expressList.length ? this.isThree = true : this.isThree = false
					wx.hideLoading()
					wx.stopPullDownRefresh()
				})
			}
            setTimeout(() => {
                wx.hideLoading()
                wx.stopPullDownRefresh()
            }, 500)
		}
	},
    computed: {
        assetsPath() {
            return this.$assetsPath
        }
    }
}
</script>

<style lang="scss">
page{
	height: 100%;
}
.myexpress{
	&.hide{
		overflow: hidden;
	}
	padding: 10px;
	height: 100%;
	box-sizing: border-box;
	.nothing{
		width: 100%;
		text-align: center;
		color: #adb4c1;
		font-size: 18px;
		padding: 50% 0 0;
		image, img{
			width: 260px;
			height: 180px;
			margin: -100px auto 10px auto;
		}
	}
	.show-more {
		padding-bottom: 12px;
		text-align: center;
		font-size: 13px;
		color: #999999;
	}
}
</style>
