<template>
	<div class="search-main">
		<!-- 常用公司 -->
		<div class="often-use box-bg" v-if="oftenCompanys && oftenCompanys.length">
			<p class="font-title">常用快递</p>
			<ul>
				<li v-for="(item, index) in oftenCompanys" :key="index" @click="selectCompany(oftenCompanys, index, params, item)" :class="{ active: item.checked }">{{ item.companyName }}</li>
			</ul>
		</div>
		<!-- 所有公司 -->
		<div class="all-company box-bg" v-if="allCompanys && allCompanys.length">
			<p class="font-title bottom-line">所有快递</p>
			<ul>
				<li class="bottom-line flex-m" v-for="(item, index) in allCompanys" :key="index" @click="selectCompany(allCompanys, index, params, item)">
					<img v-if="assetsPath && item.checked" :src="assetsPath + '/search/checked.png'">
					<img v-else :src="assetsPath + '/search/nochecked.png'">
					<span>{{ item.companyName }}</span>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
import api from './api'
import utils from '@/utils'
export default {

	name: 'index',

	data () {
		return {
			params: '',
			allCompanys: [], // 所有公司列表
			oftenCompanys: [] // 经常使用的公司
		}
	},
	computed: {
		assetsPath() {
			return this.$assetsPath
		}
	},
	methods: {
		// 遍历对象
		extend(arr, index) {
			// 清除所有的item的checked属性,设置所点击的checked属性
			arr && arr.forEach((item, index) => {
				this.$delete(arr[index], 'checked')
			})
			this.$set(arr[index], 'checked', true)
		},
		// 选择常用公司
		selectCompany(company, index, params, item) {
			this.extend(company, index)
			// setTimeout(() => {
			// 	wx.redirectTo({
			// 	  url: params + "?company=" + JSON.stringify(item)
			// 	})
			// }, 500)
			wx.setStorageSync("company", item);
			setTimeout(() => {
				wx.navigateBack({
				    delta: 1
				})
			}, 500)
		},
		// 获取公司列表
		getCompanys() {
			api.queryFindCompany({}).then(res => {
				if (res.obj) {
					utils.CloseLoading()
					let resData = JSON.parse(res.obj)
					this.allCompanys = resData.CarriersMaster
					this.oftenCompanys = resData.CarriersMasterOften
				}
			})
		}
	},
	mounted() {
		utils.Loading()
		let option = this.$root.$mp.query
		this.params = option && option.pageName
		this.getCompanys()
	}
}
</script>

<style lang="scss" scoped>
.search-main {
	margin: 0 10px;
}
.box-bg {
	background: #FFFFFF;
	box-shadow: 0 0 13px 0 rgba(214,214,223,0.50);
	border-radius: 2px;
}
.font-title {
	font-size: 12px;
	color: #555555;
	padding: 14px 0;
}
.bottom-line {
	border-bottom: 1px solid #E2E2E2;
}
// 常用公司
.often-use {
	margin-top: 10px;
	padding: 15px;
	ul {
		li {
			display: inline-block;
			padding: 3px 11px;
			border: 1px solid #EEEEEE;
			border-radius: 4px;
			font-size: 14px;
			color: #333333;
			margin-right: 40px;
			margin-bottom: 13px;
			&:nth-child(3n) {
				margin-right: 0;
			}
			&.active {
				background: #4D7BF3;
				color: #fff;
			}
		}
	}
}
// 所有公司
.all-company {
	margin-top: 10px;
	padding: 0 15px;
	ul {
		li {
			height: 45px;
			line-height: 45px;
			padding-left: 4px;
			&:last-child {
				border: none;
			}
			img {
				width: 16px;
				height: 16px;
				margin-right: 10px;
			}
			font-size: 14px;
			color: #333333;
		}		
	}
}
</style>