<template>
	<div class="track-order">
		<div v-if="orderMsg.expressNo && orderMsg.packageLogistics && orderMsg.packageLogistics.length">
			<!-- 快递信息 -->
			<div class="order-company flex-m flex-space" v-if="orderMsg.expressNo">
				<div class="logo">
					<img v-if="assetsPath" :src="assetsPath + '/send/sf.png'" class="search-icon" mode="widthFix">
				</div>
				<div class="company-number">
					<div class="company" v-if="orderMsg.expressCompanyName">{{ orderMsg.expressCompanyName }}</div>
					<div class="number" v-if="orderMsg.expressNo">运单号：{{ orderMsg.expressNo }}</div>
				</div>
				<div class="phone" v-if="orderMsg.expressCompanyPhone" @click="phone(orderMsg.expressCompanyPhone)">
					<div class="icon">
						<img v-if="assetsPath" :src="assetsPath + '/send/tel.png'" class="search-icon" mode="widthFix">
					</div>
					<div class="phone-text">联系客服</div>
				</div>
			</div>
			<!-- 物流信息 -->
			<div class="order-msg" v-if="orderMsg.packageLogistics && orderMsg.packageLogistics.length">
				<orderTrack :packageLogistics="orderMsg.packageLogistics"></orderTrack>
			</div>
		</div>
		<div v-else>
			<div class="bottom-pic">
				<img v-if="assetsPath" :src="assetsPath + '/search/no.png'" mode="widthFix">
				<p>暂无寄件</p>
			</div>
		</div>
	</div>
</template>

<script>
import orderTrack from '@/components/track'
import utils from '@/utils'
import api from './api'

export default {

	name: 'index',

	data () {
		return {
			params: '', // 订单入参
			orderMsg: '' // 订单详情
		}
	},
	components: {
		orderTrack
	},
	computed: {
		assetsPath() {
			return this.$assetsPath
		}
	},
	methods: {
		// 显示详细信息
		getOrderTrack() {
			// 显示加载按钮
			utils.Loading()
			// to do 入参this.params
			api.queryCourier({
				"expressCompanyCode": this.params.expressCompanyCode, // "shunfeng", // 快递公司编号
				"expressNo": this.params.expressNo, // "444007593206", // 运单号
				"memberId": this.params.memberId// "100000002718518" // 用户id
			}).then(res => {
				if (res.obj) {
					// 关闭加载按钮
					utils.CloseLoading()
					let resData = JSON.parse(res.obj)
					this.orderMsg = resData
					if (!resData.packageLogistics) utils.Toast('此运单号无相关查询结果')
				} else {
					utils.Toast('此运单号无相关查询结果')
				}
			})
		},
		// 客服电话
		phone(expressCompanyPhone) {
			wx.makePhoneCall({
				phoneNumber: expressCompanyPhone
			})
		}
	},
	mounted() {
		// 获取页面传递的参数
		let option = this.$root.$mp.query
		// 入参
		this.params = (option.orderDetail && JSON.parse(option.orderDetail)) || ''
		this.params && this.getOrderTrack()
	}
}
</script>

<style lang="scss" scoped>
.track-order {
	margin: 10px;
}
// 快递公司
.order-company {
	margin-bottom: 10px;
	height: 71px;
	background: #FFFFFF;
	box-shadow: 0 0 13px 0 rgba(214,214,223,0.50);
	border-radius: 2px;
	padding: 13px;
	.logo {
		width: 45px;
		margin-right: 12px;
		img {
			width: 100%;
		}
	}
	.company-number {
		color: #333333;
		margin-right: 69px;
		.company {
			font-size: 16px;
			margin-bottom: 9px;
		}
		.number {
			font-size: 13px;
		}
	}
	.phone {
		.icon {
			width: 15px;
			margin: 0 auto;
			img {
				width: 15px;
			}
		}
		.phone-text {
			font-size: 13px;
			color: #666666;
		}
	}
}
// 物流跟踪信息
.order-msg {
	background: #FFFFFF;
	box-shadow: 0 0 13px 0 rgba(214,214,223,0.50);
	border-radius: 2px;
	padding: 6px;
}
.bottom-pic {
	margin: 0 auto;
	text-align: center;
	img {
		width: 144px;
		margin-bottom: 10px;
		margin:50% 0 0;
	}
	p {
		opacity: 0.38;
		font-size: 18px;
		color: #26395C;
	}
}
</style>