<template>
  <div>
    <img class="bg" v-if="assetsPath" :src="assetsPath + '/home/home_bg.png'" mode="widthFix">
    <div class="home">
      <div class="flex-space inside">
        <div class="left">
          <a href="/pages/send/main">
            <div class="box">
              <img class="pic" v-if="assetsPath" :src="assetsPath + '/home/send_parcel.png'">
              <div class="home-title">寄快递</div>
              <div class="home-info">30公斤以内包裹</div>
            </div>
          </a>
        </div>
        <div class="right">
          <a href="/pages/search/main">
            <div class="box">
              <img class="pic" v-if="assetsPath" :src="assetsPath + '/home/search_parcel.png'">
              <div class="home-title">查快递</div>
              <div class="home-info">选择承运商查询</div>
            </div>
          </a>
        </div>
      </div>
<!--       <a href="/pages/pageIndex/main">
        <div class="index">
          去页面目录
        </div>
      </a>
      <div class="index" @click="clearAll">
        清空所有缓存
      </div>
      <div class="index" @click="clearButAnth">
        清空缓存可以重复授权
      </div> -->
      <div class="desc">
        <div class="flex-c">查快递 | 寄快递</div>
        <div class="flex-c ft-12">百联云递 优质服务 供您选择</div>
      </div>
    </div>
  </div>
</template>

<script>
import utils from '@/utils'

export default {
  data () {
    return {
      motto: 'Hello World',
      userInfo: {},
      address: ''
    }
  },
  components: {
  },
  computed: {
    assetsPath() {
      return this.$assetsPath
    }
  },
  async onPullDownRefresh() {
    // to do
    // 停止下拉刷新
    setTimeout(() => {
      wx.stopPullDownRefresh();
    }, 1000)
  },
  methods: {
    bindViewTap () {
      const url = '../logs/main'
      wx.navigateTo({ url })
    },
    clickHandle (msg, ev) {
      console.log('clickHandle:', msg, ev)
    },
    clearAll() {
      wx.clearStorage()
      utils.Toast('清除成功')
    },
    clearButAnth() {
      wx.removeStorageSync('sendInfo')
      wx.removeStorageSync('receiveInfo')
      wx.removeStorageSync('appointmentTime')
      wx.removeStorageSync('insurancePrice')
      wx.removeStorageSync('company')
      wx.removeStorageSync('wxInfo')
      wx.removeStorageSync('member_id')
      wx.removeStorageSync('blUserInfo')
      utils.Toast('清除成功')
    },
    clearSend() {
      wx.removeStorageSync('sendInfo')
      wx.removeStorageSync('receiveInfo')
      wx.removeStorageSync('appointmentTime')
      wx.removeStorageSync('insurancePrice')
      // wx.removeStorageSync('company')
    }
  },
  onLoad() {
    utils.isLogin()
  },
  onShow() {
    this.clearSend()
  }
}
</script>

<style lang="scss" scoped>
.left{
  background-color: white;
  width: 100%;
  /*width: 50%;*/
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 #D3DCF4;
}
.box{
  padding: 20px 15px;
}
.right{
  background-color: white;
  width: 100%;
  /*width: 50%;*/
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 #D3DCF4;
}
.bg{
  width: 100%;
  height: auto;
}
.home{
  position: relative;
  top: -80px;
  width: 100%;
}
.inside{
  position: relative;
  height: 140px;
  font-size: 16px;
  color: #333333;
}
.pic{
  width: 37px;
  height: 37px;
}
.home-title{
  padding-top: 24px;
  line-height: 21px;
}
.home-info{
  opacity: 0.5;
  font-size: 12px;
}
.desc{
  width: 100%;
  position: fixed;
  bottom: 60px;
  color: #999;
  opacity: 0.5;
  font-size: 16px;
  text-align: center;
}
.ft-12{
  font-size: 12px;
}
.btn{
  margin: 20px;
  background-color: gold;
  opacity: 0.5;
}
/* 去除a标签点击时灰色背景 */
a,a:link{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
.index{
  margin: 20px;
  background-color: gold;
  text-align: center;
  line-height: 44px;
  border-radius: 5px;
}
</style>
