<template>
  <div class="appointment-time-box">
    <div class="top-message">
      <img class="prompt" src="../../../static/assets/prompt.png"/>
      <p class="prompt-text">快递员将在预约时间内取走包裹，无上门费。超时请预约
        其他时间段服务</p>
    </div>
    <div class="time-box">
      <div class="appointment-left">
        <ul style="height: 100%">
          <li class="left-content" v-for="(item, index) in leftList" :key="index" :class="{checked:index === position}" @click="leftClick(index, item.collectDate, item.collectWeek)">
            <p class="date">{{item.collectDate}}</p>
            <div class="week-state">
              <p class="week">({{item.collectWeek}})</p>
              <p class="state" v-if="item.isFull === '1'">约满</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="appointment-right">
        <ul>
          <li class="right-content" v-for="(item, index) in rightList" :key="index" @click="rightClick(item)">
            <p>{{item}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import api from "./api";

  export default {
    name: "appointmentTime",
    data() {
      return {
        leftList: [],
        rightList: [],
        position: 0,
        date: '',
        week: ''
      };
    },
    onLoad() {
      this.leftList = [];
      this.rightList = [];
      api.queryCollectTime().then(data => {
        console.log(JSON.stringify(data.obj));
        let json = JSON.parse(data.obj);
        this.leftList.push.apply(this.leftList, json);
        console.log(this.leftList[0].collectTimeList);
        this.rightList = this.leftList[0].collectTimeList;
        this.week = this.leftList[0].collectWeek;
        this.date = this.leftList[0].collectDate;
        console.log(JSON.stringify(this.rightList));
      });
    },
    methods: {
      leftClick(index, date, week) {
        this.position = index;
        this.date = date;
        this.week = week;
        console.log(index + "");
        this.rightList = this.leftList[index].collectTimeList;
      },
      rightClick(item) {
        console.log(this.week + " " + this.date + " " + item);
        let data = {
          week: this.week,
          date: this.date,
          time: item
        };
        wx.setStorageSync("appointmentTime", data);
        wx.navigateBack({ changed: true });
      }
    }
  };
</script>

<style scoped>
  .appointment-time-box {
    width: 100%;
    height: 1080px;
  }
  .prompt {
    width: 12px;
    height: 12px;
  }
  .prompt-text {
    margin-left: 5px;
  }
  .top-message {
    font-size: 13px;
    color: #666666;
    background-color: #EDF0F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    padding-right: 17px;
    padding-left: 17px;
  }

  .time-box {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .appointment-left {
    width: 130px;
    height: 100%;
    background-color: #F9F9F9;
  }

  .left-content {
    align-items: center;
    background-color: #F9F9F9;
    font-size: 13px;
    color: #1E1E1E;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .appointment-left li.checked {
    background-color: #FFFFFF;
  }

  .week-state {
    display: flex;
    flex-direction: row;
    font-size: 11px;
  }

  .state {
    color: #4D7BF3;
  }

  .appointment-right {
    width: 100%;
  }

  .right-content {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid #EAEAEA;
    font-size: 13px;
    color: #999999;
  }

</style>
