<template>
  <div>
    <div v-if="canIUse">
      <button open-type="getUserInfo" @getuserinfo="bindGetUserInfo">授权登录</button>
    </div>
    <div v-else class="flex-c">请升级微信版本</div>
  </div>
</template>

<script>
import utils from '@/utils'

export default {
  data () {
    return {
      canIUse: wx.canIUse('button.open-type.getUserInfo'),
      openId: ''
    }
  },
  components: {
  },
  methods: {
    bindGetUserInfo (e) {
      utils.wxLogin(e)
    },
    wxLogin() {
      wx.login({
        complete (res) {
          console.log(res)
          if (res.code) {
            // 发起网络请求
            console.log('onShow login：', res.code)
            wx.setStorageSync('wxCode', res.code)
          } else {
            console.log('登录失败！' + res.errMsg)
          }
        }
      })
    }
  },
  computed: {
  },
  mounted() {
    console.log('button.open-type.getUserInfo', wx.canIUse('button.open-type.getUserInfo'))
    this.wxLogin()
  }
}
</script>

<style lang="scss" scoped>
  button{
    background-color: #4c79f5;
    color: white;
  }
</style>
