<template>
  <div class="showMessageDialog" catchtouchmove=’true’ v-if="showLeaveMessageDialog">
    <div class="message-dialog">
      <div class="message-top">
        <div class="message-title-box">
          <p class="message-title">留言</p>
          <img src="../../static/assets/close.png" class="message-close" @click="closeMessageDialog"/>
        </div>
        <div class="input-box">
          <textarea id="input" class="input-message" placeholder="想对快递小哥说点什么" maxlength="50" v-model="leaveMessage">
          </textarea>
        </div>
        <p class="note">注：如需包装请给快递员留言，包装留言收费</p>
      </div>
      <button class="message-determine" @click="MessageDialogDetermine">确定</button>
    </div>
  </div>
</template>

<script>
  import utils from "../utils";

  export default {
    name: "leaveMessageDialog",
    data() {
      return {
        showLeaveMessageDialog: false,
        // leaveMessage: ''
      };
    },
    props: {
      // 包裹轨迹
      leaveMessage: {
        type: String,
        default: ''
      },
    },
    methods: {
      show() {
        this.showLeaveMessageDialog = !this.showLeaveMessageDialog;
      },
      closeMessageDialog() {
        this.leaveMessage = '';
        this.showLeaveMessageDialog = false;
      },
      MessageDialogDetermine() {
        if (this.leaveMessage === "") {
          utils.Toast("留言不能为空，请填写");
        } else {
          this.$emit('message', this.leaveMessage)
          this.showLeaveMessageDialog = false;
        }
      }
    }
  };
</script>

<style scoped>
  .showMessageDialog {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
  }
  .message-dialog {
    height: 287px;
    width: 100%;
    padding-top: 22px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
  }
  .message-top {
    margin-left: 29px;
    margin-right: 29px;
  }
  .message-title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .message-title {
    font-size: 16px;
    color: #000000;
  }
  .message-close {
    width: 16px;
    height: 16px;
    padding: 3px;
    margin-right: -20px;
    margin-top: -8px;
  }
  .input-box {
    height: 95px;
    padding: 5px;
    border: 0.5px solid #D4D4D4;
    margin-top: 17px;
  }
  .input-message {
    font-size: 12px;
    margin-left: 5px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .note {
    font-size: 13px;
    color: #999999;
    margin-top: 10px;
  }
  .message-determine {
    margin-top: 31px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    background: #4D7BF3;
    color: #fff;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
