<template>
	<div @touchmove.prevent>
		<div class="msg-box" v-for="(item, index) in express" :key="index">
			<div class="order-msg flex-space flex-m">
				<div class="order-num flex-item">
					{{ item.expressCompanyName }}：{{ item.newexpressNo }}
				</div>
				<div class="order-status" v-if="item.orderStatus == 1"><span>待揽件</span></div>
				<div class="order-status" v-else-if="item.orderStatus == 2"><span>进行中</span></div>
				<div class="order-status complete-cancle" v-else-if="item.orderStatus == 3"><span>已完成</span></div>
				<div class="order-status complete-cancle" v-else-if="item.orderStatus == 4"><span>已取消</span></div>
				<div class="order-status abnormal" v-else><span>包裹异常</span></div>
			</div>
			<ul>
				<li class="moreline">{{ item.sendProvince }}{{ item.sendCity }} <span>{{ item.sendPeople }}</span>  <img v-if="assetsPath" :src="assetsPath + '/search/arrow.png'" style="height:16rpx">  {{ item.receiveProvince }}{{ item.receiveCity }} <span>{{ item.receivePeople }}</span></li>
				<li>下单时间：{{ item.orderStartTime }}</li>
				<li>订单号：{{ item.expressNo }}</li>
				<li>物流状态：
					<span v-if="item.orderStatus == 1">预约取件时间 {{ item.orderCollectTime }}</span>
					<span v-else-if="item.orderStatus == 2">【{{ item.sendCity }}】运输中</span>
					<span v-else-if="item.orderStatus == 3">【{{ item.receiveCity }}】已签收<span v-if="item.receivedTime">, 签收时间{{ item.receivedTime }}</span></span>
					<span v-else-if="item.orderStatus == 4">{{ item.packageTrace }}</span>
					<span v-else>【{{ item.sendCity }}】包裹异常</span>
				</li>
			</ul>
			<div class="btn-msg flex-m flex-space">
				<div class="btn-style left" @click="customer(item.servicePhone)">联系客服</div>
				<div class="flex-m flex-space">
					<div class="btn-style" @click="popCancel(item)" v-if="item.orderStatus == 1">取消订单</div>
					<div class="btn-style second-btn" v-if="item.orderStatus == 3" @click="popRaise(item)">去评价</div>
					<div class="btn-style" @click="gourl(item)">订单详情</div>
				</div>
			</div>
		</div>
		<popup ref="popup" :cancelList="cancelList" :starList="starList" @cancelNo="cancelNo" @submitRaise="addComment" @isHide="isHide"></popup>
	</div>
</template>

<script>
import api from '../pages/mySend/api'
import utils from '../utils'
import popup from '@/components/popup'
export default {
	name: 'orderInfo',
	props: ['express'],
	data () {
		return {
			cancelList: [],
            starList: []
		}
	},
	components: {
		popup
	},
	methods: {
		popCancel(item) {
			this.cancelList = [
				{name: '不小心点错了', checked: false},
				{name: '不想寄了', checked: false},
				{name: '信息填错了', checked: false},
				{name: '未及时分配快递员，不想等了', checked: false}
			]
			this.$refs.popup.popCancel(item)
			this.$emit('isHide')
		},
		popRaise(item) {
			this.starList = [
                {id: 1, item: '快递包装'},
                {id: 2, item: '送货速度'},
                {id: 3, item: '快递员服务态度'}
            ]
			this.$refs.popup.popRaise(item)
			this.$emit('isHide')
		},
		isHide() {
			this.$emit('isHide')
		},
		customer(tel) {
            wx.showModal({
				title: '顺丰快递客服电话',
				content: tel,
				confirmText: '拨打',
                confirmColor: '#FE6C97',
                success (res) {
                    if (res.confirm) {
						wx.makePhoneCall({
							phoneNumber: tel
						})
                    } else if (res.cancel) {
                        console.log('用户点击取消')
                    }
                }
            })
		},
		gourl(item) {
            wx.navigateTo({
                url: '/pages/orderDetail/main?expressCompanyCode=' + item.expressCompanyCode + '&orderNo=' + item.orderNo + '&expressNo=' + item.expressNo
            })
		},
		cancelNo(val, item) {
			console.log(val, item)
			if (val && item) {
				api.orderCancelByOrderNo({
					expressCompanyCode: item.expressCompanyCode, // 承运商编码（必填）	string
					expressNo: item.expressNo, // 运单号	string
					memberId: wx.getStorageSync('member_id'), // 用户id（必填）	string
					memberName: wx.getStorageSync('blUserInfo').member_name, // 用户名称（必填）	string
					orderCancelCause: val, // 订单取消原因	string
					orderNo: item.orderNo // 订单号（必填）
				}).then(data => {
					if (data.resCode == '00100000') {
						utils.Toast('订单已取消')
						this.resetList()
					} else {
						utils.Toast(data.msg)
					}
				})
			}
		},
		addComment(val, star, item) {
			console.log(val, star, item)
			if (star && item) {
				api.addComment({
					commentContent: val, // 评论内容（选填）	string
					expressPackage: star[0].star, // 快递包装（必填 1-5）	number
					memberId: wx.getStorageSync('member_id') || '100000002718518', // 会员ID（必填）	string
					orderNo: item.orderNo, // 订单编码（必填）	string
					sendSpeed: star[1].star, // 送货速度（必填 1-5）	number
					serviceAttitude: star[2].star // 服务态度（必填 1-5）number
				}).then(data => {
					if (data.resCode == '00100000') {
						utils.Toast('评论成功')
						this.resetList()
					} else {
						utils.Toast(data.msg)
					}
				})
			}
		}
	},
	computed: {
		assetsPath() {
			return this.$assetsPath
		}
	}
}
</script>

<style lang="scss" scoped>
.msg-box {
	height: 190px;
	background: #FFFFFF;
	box-shadow: 0 0 13px 0 rgba(214,214,223,0.50);
	border-radius: 2px;
	margin-bottom: 15px;
	overflow: hidden;
	.order-msg {
		margin-left: 15px;
		height: 30px;
		line-height: 30px;
		.order-num {
			font-size: 13px;
			color: #333333;
			border-bottom: 1px solid #E2E2E2;;
		}
		.order-status {
			background: rgba(77, 123, 243, .2);
			border-radius: 2px 0 0 0;
			width: 67px;
			height: 31px;
			text-align: center;
			line-height: 31px;
			span {
				font-size: 13px;
				color: #4D7BF3;
			}
			&.abnormal {
				background: rgba(255,248,237,1);
				span {
					color: #FF9E15;
				}
			}
			&.complete-cancle {
				background: rgba(146,149,177,.2);
				span {
					color: #333333;
				}
			}
		}
	}
	.moreline{
		width: 100%;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	ul {
		margin: 0 15px;
		border-bottom: 1px solid #E2E2E2;
		// border-top: 1px solid #E2E2E2;
		li {
			color: #333333;
			&:nth-child(1) {
				margin: 15px 0;
				font-size: 16px;
				img {
					width: 24px;
					margin: 4px 20px;
				}
				span {
					font-size: 13px;
				}
			}
			&:not(:first-child) {
				font-size: 13px;
				color: #999999;
				line-height: 13px;
				margin-bottom: 7px;
			}
			&:last-child {
				margin-bottom: 10px;
			}
		}
	}
	.btn-msg {
		margin: 10px 15px;
		.btn-style {
			width: 70px;
			height: 24px;
			line-height: 24px;
			text-align: center;
			border: 1px solid rgba(153,153,153,.3);
			border-radius: 2px;
			font-size: 14px;
			color: #666666;
			margin-left: 10px;
			&.second-btn {
				border: 1px solid #FE6C97;
				color: #FE6C97;
			}
			&.left{
				margin: 0;
			}
		}
	}
}
</style>