<template>
  <div>
    <div class="product-type-dialog" catchtouchmove=’true’ v-if="showProductTypeDialog">
      <div class="type-dialog">
        <div class="top-box">
          <div class="title-box">
            <p class="title">包裹类型</p>
            <img src="../../static/assets/close.png" class="img-close" @click="close"/>
          </div>
          <div class="ul-type">
            <ul>
              <li v-for="(item, index) in typeList" :key="index" :class="{checked:index === n}"
                  @click="typeClick(index,item.id, item.itemType)">
                <span class="type-name">{{item.itemType}}</span>
              </li>
            </ul>
          </div>
          <div class="input-product-name-box" v-if="isOther">
            <input class="input-product-name" placeholder="请输入物品名称" v-model="inputProductName" maxlength="10"
                   @input="descInput">
            <p class="word-count">{{wordCount}}/10</p>
          </div>
        </div>
        <p class="line"></p>
        <div class="bottom-box">
          <div class="weight">
            <p class="expected-weight">预估重量</p>
            <div class="weight-box">
              <p class="cut" @click="cut">-</p>
              <div class="real-weight">
                <input v-model="weight" type="number" style="width: 30px" @input="inputWeight()">
                <p>公斤</p>
              </div>
              <p class="add" @click="add">+</p>
            </div>
          </div>
          <p class="note">注：最终价格以快递员称重确定为主</p>
        </div>
        <button class="determine" @click="determine">确定</button>
      </div>
    </div>
  </div>
</template>

<script>
  import utils from "../utils";
  import api from "../pages/send/api";

  export default {
    name: "productTypeDialog",
    data() {
      return {
        showProductTypeDialog: false,
        weight: 1,
        typeList: [],
        n: "",
        typeName: "",
        typeId: "",
        inputProductName: "",
        isOther: false,
        wordCount: 0
      };
    },
    methods: {
      inputWeight() {
        if (this.weight > 30) {
          this.weight = 30;
          utils.Toast("提示包裹重量最大支持30kg");
        } else if (this.weight && this.weight == 0) {
          this.weight = 1
          utils.Toast("提示包裹重量最小支持1kg");
        }
      },
      descInput() {
        var txtVal = this.inputProductName.length;
        this.wordCount = txtVal++;
      },
      show() {
        this.typeList = [];
        api.getProductType().then(res => {
          let data = JSON.parse(res.obj);
          this.typeList.push.apply(this.typeList, data.list);
          this.typeList.push({ itemType: "其他", id: "000000" });
        });
        this.showProductTypeDialog = !this.showProductTypeDialog;
      },
      typeClick(index, id, name) {
        this.n = index;
        this.typeName = name;
        this.typeId = id;
        if (id === "000000") {
          this.isOther = true;
          utils.Toast("请输入您邮寄商品的类型");
        } else {
          this.isOther = false;
          this.inputProductName = "";
        }
      },
      close() {
        this.showProductTypeDialog = false;
      },
      cut() {
        if (this.weight > "1") {
          this.weight--;
        }
      },
      add() {
        if (this.weight < 30) {
          this.weight++;
        } else {
          utils.Toast("提示包裹重量最大支持30kg");
        }
      },
      determine() {
        if (this.n === "" || (this.inputProductName === "" && this.typeId === "000000")) {
          utils.Toast("请输入您邮寄商品的类型");
        } else if (this.inputProductName !== "") {
          this.$emit("productType", this.inputProductName, "000000", this.weight);
          this.showProductTypeDialog = false;
        } else {
          this.$emit("productType", this.typeName, this.typeId, this.weight);
          this.showProductTypeDialog = false;
        }
      }
    }
  };
</script>

<style scoped>
  .product-type-dialog {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
  }

  .type-dialog {
    height: 375px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
  }

  .top-box {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 17px;
  }

  .title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .title {
    font-size: 16px;
    color: #000000;
  }

  .img-close {
    width: 16px;
    height: 16px;
    padding: 3px;
    margin-right: -20px;
  }

  .top-box ul {
    width: 300px;
    height: 64px;
    margin-top: 10px;
  }

  .top-box li {
    width: 80px;
    height: 25px;
    margin-left: 18px;
    margin-top: 14px;
    font-size: 13px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #D4D4D4;
    color: #666666;
  }
  .type-name {
    display: inline-block;
    overflow : hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
  }

  .top-box li.checked {
    color: #4D7BF3;
    border: 0.5px #4D7BF3 solid;
  }

  .input-product-name-box {
    margin-top: 30px;
    border: 0.5px solid #D4D4D4;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .input-product-name {
    font-size: 12px;
    color: #666666;
    padding-left: 10px;
  }

  .word-count {
    position: absolute;
    font-size: 12px;
    color: #666666;
    right: 0;
    margin-right: 35px;
  }

  .line {
    height: 6px;
    background: #F3F3F3;
    margin-top: 20px;
  }

  .bottom-box {
    margin-left: 34px;
    margin-right: 34px;
  }

  .weight {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
  }

  .expected-weight {
    font-size: 16px;
    color: #000000;
  }

  .weight-box {
    display: flex;
    flex-direction: row;
  }

  .cut {
    width: 30px;
    display: flex;
    justify-content: center;
  }

  .add {
    width: 30px;
    display: flex;
    justify-content: center;
  }

  .real-weight {
    border: 0.5px solid #D4D4D4;
    height: 30px;
    width: 85px;
    font-size: 15px;
    color: #4A4A4A;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .note {
    margin-top: 14px;
    font-size: 13px;
    color: #999999;
  }

  .determine {
    margin-top: 26px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    background: #4D7BF3;
    color: #fff;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
