<template>
	<div v-if="packageLogistics && packageLogistics.length">
    <div v-if="trackExpand || packageLogistics.length < 5">
      <div class="track flex" v-for="(i,index) in packageLogistics" :key="index">
        <div class="track-left">
          <div v-if="i.time">{{ i.time }}</div>
          <div v-if="i.date">{{ i.date }}</div>
        </div>
        <div class="track-icon flex-c">
          <div class="vertical-line" v-if="index != packageLogistics.length - 1"></div>
          <img v-if="assetsPath && index == 0" :src="assetsPath + packageStatus[i.statusCode].iconActive">
          <img v-else-if="assetsPath" :src="assetsPath + packageStatus[i.statusCode].icon">
        </div>
        <div class="track-right">
          <div>{{packageStatus[i.statusCode].status}}</div>
          <div class="track-desc">{{i.packageTrace}}</div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="track flex" v-for="(i,index) in packageLogistics" :key="index" v-if="index < 4">
        <div class="track-left">
          <div v-if="i.time">{{ i.time }}</div>
          <div v-if="i.date">{{ i.date }}</div>
        </div>
        <div class="track-icon flex-c">
          <div class="vertical-line" v-if="index != 3"></div>
          <img v-if="assetsPath && index == 0" :src="assetsPath + packageStatus[i.statusCode].iconActive">
          <img v-else-if="assetsPath" :src="assetsPath + packageStatus[i.statusCode].icon">
        </div>
        <div class="track-right">
          <div>{{packageStatus[i.statusCode].status}}</div>
          <div class="track-desc">{{i.packageTrace}}</div>
        </div>
      </div>
    </div>
		<div class="line"></div>
		<div @click="trackExpand = !trackExpand">
		  <div class="expand flex-c-m" v-if="trackExpand">
		    <img v-if="assetsPath" :src="assetsPath + '/send/path.png'">
		  </div>
		  <div class="unexpand flex-c-m" v-else>
		    <img v-if="assetsPath" :src="assetsPath + '/send/path.png'">
		  </div>  
		</div>
	</div>
</template>

<script>
import utils from '@/utils'
export default {

  data () {
    return {
    	trackExpand: false,
      timeList: [],
      utils: utils,
      packageStatus: {
        "1000": {
          "status": "待揽件",
          "icon": "/send/packageStatus/1000.png",
          "iconActive": "/send/packageStatus/1000_a.png"
        },
        "1001": {
          "status": "已揽件",
          "icon": "/send/packageStatus/1001.png",
          "iconActive": "/send/packageStatus/1001_a.png"
        },
        "1002": {
          "status": "运输中",
          "icon": "/send/packageStatus/1002.png",
          "iconActive": "/send/packageStatus/1002_a.png"
        },
        "1003": {
          "status": "派件中",
          "icon": "/send/packageStatus/1003.png",
          "iconActive": "/send/packageStatus/1003_a.png"
        },
        "1004": {
          "status": "待揽件",
          "icon": "/send/packageStatus/1004.png",
          "iconActive": "/send/packageStatus/1004_a.png"
        },
        "1005": {
          "status": "已签收",
          "icon": "/send/packageStatus/1005.png",
          "iconActive": "/send/packageStatus/1005_a.png"
        },
        "1006": {
          "status": "拒收",
          "icon": "/send/packageStatus/1006.png",
          "iconActive": "/send/packageStatus/1006_a.png"
        },
        "1007": {
          "status": "包裹异常",
          "icon": "/send/packageStatus/1007.png",
          "iconActive": "/send/packageStatus/1007_a.png"
        },
        "1008": {
          "status": "退回中",
          "icon": "/send/packageStatus/1008.png",
          "iconActive": "/send/packageStatus/1008_a.png"
        },
        "1009": {
          "status": "已退回",
          "icon": "/send/packageStatus/1009.png",
          "iconActive": "/send/packageStatus/1009_a.png"
        },
        "1010": {
          "status": "转寄中",
          "icon": "/send/packageStatus/1010.png",
          "iconActive": "/send/packageStatus/1010_a.png"
        }
      }
    }
  },
  props: {
    // 包裹轨迹
    packageLogistics: {
      type: Array,
      default: []
    },
  },
  computed: {
    assetsPath() {
      return this.$assetsPath
    }
  },
  methods: {
  	phone() {
  	  if (this.orderLogistics.expressCompanyPhone) {
  	    wx.makePhoneCall({
  	      phoneNumber: this.orderLogistics.expressCompanyPhone
  	    })
  	  }
  	}
  },
  onLoad() {
    this.packageLogistics.forEach((item, index) => {
      let timeList = item.packageDeliveryTime.split(" ")
      this.packageLogistics[index].date = timeList[0]
      this.packageLogistics[index].time = timeList[1]
    })
    console.log('packageLogistics item:', this.packageLogistics)
  }
}
</script>

<style lang="scss" scoped>
.track{
  z-index: 1;
  height: 60px;
  margin-top: 25px;
  color: #999999;
  .track-left{
    width: 62px;
    font-weight: 300;
    font-size: 10px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
  }
  .track-icon{
    padding: 0 5px;
    width: 35px;
    img{
      position: absolute;
      height: 25px;
      width: 25px;
      z-index: 3;
    }
  }
  .vertical-line{
    position: absolute;
    width: 102px;
    height: 85px;
    margin-top: 2px;
    left: 0;
    z-index: 2;
    border-right: 1px solid #CDCDCD;
  }
  .track-right{
    width: 235px;
    font-size: 13px;
    padding-bottom: 30px;
    text-align:justify;
  }
  .track-desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: esclipse;
  }
}
.expand{
  height: 44px;
  img{
    width: 19px;
    height: 10px;
  }
}
.unexpand{
  height: 44px;
  img{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    width: 19px;
    height: 10px;
  }
}
</style>