<template>
	<div class="search-main">
		<!-- search -->
		<div class="search-box">
			<!-- 快递公司 -->
			<div class="search-item flex-m flex-space" @click="goLink('/pages/selectCompany/main', 'pageName', '/pages/search/main')">
				<div class="search-title">
					选择快递公司
				</div>
				<div class="search-company flex-m">
					<div class="company">{{ orderCompany }}</div>
					<img v-if="assetsPath" :src="assetsPath + '/send/arrow.png'" class="search-icon" mode="widthFix">
				</div>
			</div>
			<!-- 运单号 -->
			<div class="search-item flex-m flex-space">
				<div class="search-title order-title">
					运单号：
				</div>
				<div class="search-detail flex-m flex-space flex-item">
					<input type="num" class="flex-m" placeholder="请输入或扫描运单号" v-model="orderNumber" maxlength="20" @input="isCancle = true"/>
					<img v-if="assetsPath && isCancle" :src="assetsPath + '/send/cancel.png'" class="cancle" @click="isCancle = false, orderNumber = ''">
					<img v-if="assetsPath" :src="assetsPath + '/send/scan.png'" class="scan" @click="scan">
				</div>
			</div>
			<!-- 按钮 -->
			<div class="search-btn">
				<p>{{ orderNum }}</p>
				<button @click="queryCourier" :class="{ active: isQuery }">查询</button>
			</div>
		</div>
		<!-- 寄件列表 -->
		<div class="send-container" v-if="todayOrderList && todayOrderList.length">
				<!-- 当日寄件 -->
				<div class="today-send">
					<p>当日寄件</p>
					<!-- 寄件列表 组件 to do -->
					<orderInfo :express="todayOrderList"></orderInfo>
					<div class="show-more" @click="goSend">查看更多寄件 ></div>
				</div>
			</div>
			<!-- logo -->
		<div class="bottom-pic" v-else>
			<img v-if="assetsPath" :src="assetsPath + '/search/logo.png'" mode="widthFix">
			<p>暂无寄件</p>
		</div>
	</div>
</template>

<script>
import orderInfo from '@/components/orderInfo'
import utils from '@/utils'
import api from './api'

export default {

	name: 'index',

	data () {
		return {
			orderCompany: '',
			company: '', // 快递公司
			orderNumber: '', // 订单号
			isQuery: false, // 是否进行查询
			isHaveCourier: false, // 是否有原始寄件信息
			isCancle: false, // 是否显示取消按钮
			todayOrderList: [], // 当日订单
		}
	},
	computed: {
		assetsPath() {
			return this.$assetsPath
		}
	},
	components: {
		orderInfo
	},
	methods: {
		// 跳转页面
		goLink(url, paramsName, params) {
			wx.navigateTo({
				url: url + "?" + paramsName + "=" + params
			})
		},
		// 扫描二维码
		scan() {
			wx.scanCode({
				scanType: ['barCode', 'qrCode', 'datamatrix', 'pdf417'],
				success: (res) => {
					this.orderNumber = (res && res.result)
				},
				fail: (res) => {
					wx.showToast({
						title: res.result
					})
				}
			})
		},
		// 根据快递公司&编号查询快递
		queryCourier() {
			if (!this.orderCompany) {
				utils.Toast('请选择快递公司')
			} else if (!this.orderNumber) {
				utils.Toast('请输入运单号')
			} else if (this.orderNumber.length < 8) {
				utils.Toast('请输入至少8位数字的运单号')
			} else {
				// 判断运单号是否满足 输入字母&数字
				var pattern = /^[a-zA-Z0-9]{1,20}/
				if (pattern.test(this.orderNumber)) {
					// 显示按钮颜色
					this.isQuery = true
					let obj = {
						'expressCompanyCode': this.orderCompany,
						'expressNo': this.orderNumber,
						'memberId': wx.getStorageSync('member_id') // "100000002718518"
					}
					// 通过issupport判断 跳转到哪个详情页
					api.queryCourier(obj).then(res => {
						if (res.obj) {
							let resData = JSON.parse(res.obj)
							console.log('resData****', resData)
							let odUrl = "/pages/orderDetail/main?orderNo=" + (resData.orderComment && resData.orderComment.orderNo) + "&expressNo=" + this.orderNumber + "&expressCompanyCode=" + this.orderCompany
							let otUrl = "/pages/orderTrack/main?orderDetail=" + JSON.stringify(obj)
							let url = resData.isSupport ? odUrl : otUrl
							wx.navigateTo({
								url: url
							})
						}
					})
				} else {
					utils.Toast('请输入正确的运单号~')
				}
			}
		},
		// 获取寄件列表
		getTodayOrderList() {
			api.queryFindCompany({
				"memberId": wx.getStorageSync('member_id') || '' // "100000002718518"
			}).then(res => {
				if (res.obj) {
					let resData = JSON.parse(res.obj)
					let todayList = resData.list
					todayList && todayList.forEach((item, index) => {
						// 每隔3个加空格
						item.newexpressNo = item.expressNo.replace(/(.{3})/g, '$1 ')
					})
					this.todayOrderList = todayList
				}
			})
		},
		// 跳转寄件页面
		goSend() {
			wx.switchTab({
				url: '/pages/mySend/main'
			})
		}
	},
	onShow() {
		// 判断是否是否存在用户id
		// if (wx.getStorageSync('member_id')) {
		// 	console.log('有用户id')
		// 	this.getTodayOrderList()
		// } else {
		// 	console.log('无用户id')
		// 	// to do
		// 	// utils.isLogin()
		// }
		this.orderCompany = wx.getStorageSync('company') ? wx.getStorageSync('company').companyName : ''
		this.getTodayOrderList()
	},
}
</script>

<style lang="scss" scoped>
.search-main {
	margin: 10px;
}
.search-box {
	padding: 10px;
	height: 180px;
	background: #FFFFFF;
	box-shadow: 0 0 13px 0 rgba(214,214,223,0.50);
	border-radius: 4px;
	.search-item {
		width: 100%;
		height: 50px;
		border-bottom: 1px solid #E2E2E2;
		.search-title {
			font-size: 14px;
			color: #333333;
			letter-spacing: 0;
			&.order-title {
				height: 26px;
				line-height: 26px;
			}
		}
		.search-company {
			.company {
				text-align: right;
				margin-right: 10px;
				font-size: 13px;
			}
		}
		.search-icon {
			width: 11px;
		}
		.search-detail input {
			width: 235px;
			font-size: 14px;
		}
		.scan {
			width: 18px;
			height: 18px;
		}
		.cancle {
			width: 16px;
			height: 16px;
			margin-right: 10px;
		}
	}
}
.search-btn {
	margin-top: 17px;
	button {
		height: 48px;
		line-height: 48px;
		background: #EEEEEE;
		border: 1px solid #EEEEEE;
		border-radius: 6px 6px 6px 0 6px;
		font-size: 16px;
		color: #666666;
		&::after { // 去掉button自带的border
			border: none;
		}
		&.active {
			background: #4D7BF3;
			color: #fff;
		}
	}
}
.bottom-pic {
	margin-top: 53px;
	text-align: center;
	img {
		width: 144px;
		margin-bottom: 10px;
	}
	p {
		opacity: 0.38;
		font-size: 18px;
		color: #26395C;
	}
}
// 寄件信息
.send-container {
	margin-top: 25px;
	padding: 0 10px;
	.today-send {
		p {
			margin-left: 10px;
			margin-bottom: 10px;
			font-size: 14px;
			color: #999999;
		}
		.show-more {
			padding: 10px 0;
			width: 100%;
			text-align: center;
			font-size: 13px;
			color: #999999;
		}
	}
}
</style>