<template>
  <div>
    <div class="go-home-main">
      <button class="go-home flex-c-m" @click="confirm">返回首页</button>
    </div>
    <div class="mx-10">
      <div class="head-pic">
        <img v-if="assetsPath" :src="assetsPath + '/home/home_bg.png'">
        <div class="absolute-top head-desc head-twice" v-if="orderLogistics && orderLogistics.orderDetail" :class="{'top': orderLogistics.orderDetail.orderStatus == '3'}">
          <div v-if="orderLogistics.orderDetail.orderStatus == '1'">
            <div>预约成功</div>
            <div class="head-details">请等待快递员上门取件</div>  
          </div>
          <div v-if="orderLogistics.orderDetail.orderStatus == '2'">
            <div>进行中</div>
            <div class="head-details">该订单正在进行中</div>  
          </div>
          <div v-if="orderLogistics.orderDetail.orderStatus == '3'">
            <div>已签收</div>
          </div>
          <div v-if="orderLogistics.orderDetail.orderStatus == '4'">
            <div>已取件</div>
            <div class="head-details">当天件预计最晚20:00更新物流信息</div>  
          </div>
        </div>
      </div>
      <div class="rate shadow" v-if="orderLogistics && orderLogistics.orderDetail">
        <div class="mx-10" v-if="orderLogistics.orderDetail.orderStatus == '3'">
          <div class="title">满意请给五颗星</div>
          <div class="line"></div>
          <div class="rate-items">
            <rate :rateItems="rateItems" @finish-rate="finishRate"></rate>
          </div>
          <div class="text">
            <textarea placeholder="留言(选填)" v-model="message"></textarea>
          </div>
          <div class="comment flex-m">
            <span @click="evaluation">发布评价</span>
          </div>
        </div>
      </div>
      <div class="shadow order-details" v-if="orderLogistics && orderLogistics.orderDetail">
        <div class="mx-10">
          <div class="flex-space order-title">
            <div class="light-grey">订单详情</div>
            <div class="dark-grey" v-if="orderLogistics.orderDetail.orderNo">订单号：{{orderLogistics.orderDetail.orderNo}}</div>
          </div>
          <div class="line"></div>
          <div class="info flex-m">
            <img v-if="assetsPath" :src="assetsPath + '/send/send.png'">
            <div class="flex-space add">
              <div class="name">{{orderLogistics.orderDetail.sendPeople}}  {{orderLogistics.orderDetail.sendPeopleTel}}</div>
              <div class="city">{{orderLogistics.orderDetail.sendProvince}} {{orderLogistics.orderDetail.sendCity}}</div>
            </div>
          </div>
          <div class="info flex-m">
            <img v-if="assetsPath" :src="assetsPath + '/send/receive.png'">
            <div class="flex-space add">
              <div class="name">{{orderLogistics.orderDetail.receivePeople}}  {{orderLogistics.orderDetail.receivePeopleTel}}</div>
              <div class="city">{{orderLogistics.orderDetail.receiveProvince}} {{orderLogistics.orderDetail.receiveCity}}</div>
            </div>
          </div>
          <!-- 展开部分 -->
          <div v-if="expand">
            <div class="line"></div>
            <div class="flex-space order-info flex-m">
              <div class="lg">预约取件时间</div>
              <div class="grey" v-if="orderLogistics.orderDetail.orderCollectTimePart">{{orderLogistics.orderDetail.orderCollectTimePart}}</div>
            </div>
            <div class="flex-space order-info flex-m">
              <div class="lg">预计送达时间</div>
              <div class="grey" v-if="orderLogistics.orderDetail.orderAnticipateTime">{{orderLogistics.orderDetail.orderAnticipateTime}}</div>
            </div>
            <div class="flex-space order-info flex-m" v-if="orderLogistics.orderDetail.itemTypeName && orderLogistics.orderDetail.itemWeight">
              <div class="lg">物品类型/重量</div>
              <div class="grey">{{orderLogistics.orderDetail.itemTypeName}}/{{orderLogistics.orderDetail.itemWeight}}公斤</div>
            </div>
            <div class="flex-space order-info flex-m">
              <div class="lg">支付方式</div>
              <div class="grey">月结支付</div>
            </div>
            <div class="line"></div>
            <div class="flex-space order-info flex-m bold" v-if="orderLogistics.orderDetail.allAmount">
              <div class="grey">总金额</div>
              <div class="org">￥{{orderLogistics.orderDetail.allAmount}}</div>
            </div>
            <div class="flex-space order-info flex-m" v-if="orderLogistics.orderDetail.itemTypeName && orderLogistics.orderDetail.itemWeight">
              <div class="lg fs-12">物品类型/重量</div>
              <div class="grey fs-12">{{orderLogistics.orderDetail.itemTypeName}}/{{orderLogistics.orderDetail.itemWeight}}公斤</div>
            </div>
            <div class="flex-space order-info flex-m">
              <div class="lg fs-12">支付方式</div>
              <div class="grey fs-12">月结支付</div>
            </div>
          </div>
          <div class="line"></div>
          <!-- 小标签 -->
          <div @click="expand = !expand">
            <div class="expand flex-c-m" v-if="expand">
              <img v-if="assetsPath" :src="assetsPath + '/send/path.png'">
            </div>
            <div class="unexpand flex-c-m" v-else>
              <img v-if="assetsPath" :src="assetsPath + '/send/path.png'">
            </div>  
          </div>
        </div>
      </div>
      <div class="shadow order-details" v-if="orderLogistics && orderLogistics.expressCompanyName && orderLogistics.expressCompanyName && orderLogistics.expressNo && orderLogistics.packageLogistics && orderLogistics.expressCompanyPhone">
        <div class="mx-10">
          <div class="flex-space order-title">
            <div class="light-grey">包裹轨迹</div>
            <div class="dark-grey" @click="phone">
              <img class="tel" v-if="assetsPath" :src="assetsPath + '/send/tel.png'">
              联系客服
            </div>
          </div>
          <div class="line"></div>
          <div class="flex-m package">
            <img class="pg-co" v-if="assetsPath" :src="assetsPath + '/send/sf.png'">
            <div class="flex-space package-info">
              <div class="package-left" v-if="orderLogistics.expressCompanyName">
                {{orderLogistics.expressCompanyName}}
              </div>
              <div class="package-right" v-if="orderLogistics.expressNo">运单号：{{orderLogistics.expressNo}}</div>
            </div>
            <div class="flex-c-m copy" v-if="orderLogistics.expressNo" @click="setClipboardData(orderLogistics.expressNo)">
              <img v-if="assetsPath" :src="assetsPath + '/send/copy.png'">
            </div>
          </div>
          <div class="line"></div>
          <AJTrack :packageLogistics="orderLogistics.packageLogistics" v-if="orderLogistics.packageLogistics"></AJTrack>
        </div>
      </div>
      <div v-if="orderLogistics && orderLogistics.orderDetail && orderLogistics.orderDetail.orderStatus">
        <div class="confirm" @click="cancel" v-if="orderLogistics.orderDetail.orderStatus == '1'">
          <div class="btn flex-c-m">取消订单</div>
        </div>
        <div class="confirm" @click="confirm" v-else>
          <div class="btn flex-c-m">确认</div>
        </div>
      </div>
      <div v-if="orderLogistics && orderLogistics.orderDetail && orderLogistics.orderDetail.orderStatus == '1'">
        <popup ref="popup" @cancelNo="cancelNo" :cancelList="cancelList"></popup>
        <div class="iphone-x" v-if="isIPX"></div>
      </div>
    </div>
  </div>
</template>

<script>
import api from './api'
import utils from '@/utils'
import rate from '@/components/rate'
import AJTrack from '@/components/track'
import popup from '@/components/popup'

export default {
  data () {
    return {
      rateItems: [],
      expand: false,
      trackExpand: false,
      orderLogistics: '',
      message: '', // 留言
      orderNo: '',
      expressNo: '',
      company: '',
      member_id: '',
      cancelList: [
        {name: '不小心点错了', checked: false},
        {name: '不想寄了', checked: false},
        {name: '信息填错了', checked: false},
        {name: '未及时分配快递员，不想等了', checked: false}
      ],
      member_name: ''
    }
  },
  components: {
    rate,
    AJTrack,
    popup
  },
  computed: {
    assetsPath() {
      return this.$assetsPath
    },
    isIPX() {
      return this.$isIPX
    }
  },
  mounted() {
    let items = ['快递包装', '送货速度', '快递员服务态度']
    let rateItems = []
    items.forEach((i) => {
      let arr = {
        item: i
      }
      rateItems.push(arr)
    })
    this.rateItems = rateItems
    this.getOrder()
  },
  methods: {
    getOrder() {
      api.orderLogisticsByExpressNo({
        expressCompanyCode: this.expressCompanyCode ? this.expressCompanyCode : this.company.companyCode,
        expressNo: this.expressNo,
        memberId: this.member_id
      }).then(data => {
        if (data.obj) {
          this.orderLogistics = JSON.parse(data.obj)
        } else {
          utils.Toast(data.msg)
        }
      })
    },
    setClipboardData(data) {
      wx.setClipboardData({
        data: data,
        success (res) {
          wx.getClipboardData({
            success (res) {
              console.log(res.data) // data
            }
          })
        }
      })
    },
    phone() {
      if (this.orderLogistics.expressCompanyPhone) {
        wx.makePhoneCall({
          phoneNumber: this.orderLogistics.expressCompanyPhone
        })
      }
    },
    finishRate(e) {
      console.log('finishRate e', e)
    },
    // 发布评价哦
    evaluation() {
      api.addComment({
        commentContent: this.message, // 评论内容（选填）  string
        expressPackage: this.rateItems && this.rateItems[0] && this.rateItems[0].star, // 快递包裹
        sendSpeed: this.rateItems && this.rateItems[1] && this.rateItems[1].star, // 送货速度
        serviceAttitude: this.rateItems && this.rateItems[2] && this.rateItems[2].star, // 服务态度
        memberId: wx.getStorageSync('member_id'), // 会员ID（必填)
        orderNo: this.orderLogistics && this.orderLogistics.orderDetail && this.orderLogistics.orderDetail.orderNo// 订单编号
      }).then(data => {
        if (data.resCode == '00100000') {
          utils.Toast('评价成功')
        } else {
          utils.Toast(data.msg)
        }
      })
    },
    confirm() {
      wx.removeStorageSync('company')
      wx.reLaunch({
        url: '/pages/home/main'
      })
    },
    cancel() {
      this.$refs.popup.popCancel()
      console.log('cancel')
    },
    cancelNo(val) {
      if (val && this.company.companyCode) {
        api.orderCancelByOrderNo({
          expressCompanyCode: this.orderLogistics.orderDetail.expressCompanyCode, // 承运商编码（必填） string
          expressNo: this.expressNo, // 运单号 string
          memberId: this.member_id, // 用户id（必填） string
          memberName: this.member_name, // 用户名称（必填）  string
          orderCancelCause: val, // 订单取消原因  string
          orderNo: this.orderNo // 订单号（必填）
        }).then(data => {
          if (data.resCode == '00100000') {
            utils.Toast('订单已取消')
            setTimeout(() => {
              wx.switchTab({
                url: '/pages/home/main'
              })
            }, 1500)
          } else {
            utils.Toast(data.msg)
          }
        })
      }
    },
  },
  onShow() {
    if (wx.getStorageSync("member_id") && wx.getStorageSync("blUserInfo")) {
      this.member_id = wx.getStorageSync("member_id")
      this.member_name = wx.getStorageSync("blUserInfo").member_name
      console.log(this.member_id)
    } else {
      wx.navigateTo({
        url: '/pages/authorize/main'
      })
    }
    this.orderNo = this.$root.$mp.query.orderNo
    this.expressNo = this.$root.$mp.query.expressNo
    this.expressCompanyCode = this.$root.$mp.query.expressCompanyCode
    wx.getStorageSync("company") && (this.company = wx.getStorageSync("company"))
    console.log('lalala', this.orderNo, '==', this.expressNo)
  }
}
</script>

<style lang="scss" scoped>
.fs-12{
  font-size: 12px;
  line-height: 30px !important;
}
.head-pic{
  height: 103px;
  width: 100%;
  color: white;
  overflow: hidden;
  font-size: 500;
  img{
    width: 100%;
  }
  .head-desc{
    height: 103px;
    width: 95%;
  }
  .head-twice{
    text-align: center;
    margin-top: 25px;
    &.top {
      margin-top: 35px;
    }
  }
  .head-details{
    font-size: 14px;
    opacity: 0.6;
    padding-top: 10px;
  }
}
.rate{
  margin-top: 10px;
}
.shadow{
  box-shadow: 0 0 15px 0 rgba(214,214,223,0.30);
}
.title{
  line-height: 40px;
  font-size: 14px;
  font-weight: 500;
}
.rate-items{
  padding: 10px 0;
}
.text{
  border-radius: 4px;
  border: 1px solid #E9E9E9;
  width: 100%;
  textarea{
    height: 50px;
    margin: 2%;
    width: 96%;
    font-size: 14px;
  }
}
.comment{
  height: 53px;
  font-size: 14px;
  color: #FE6C97;
  span{
    position: absolute;
    right: 25px;
    line-height: 24px;
    padding: 0 8px;
    border-radius: 3px;
    border: 1px solid #FE6C97;
  }
}
.org{
  color: #FF774F;
}
.bold{
  font-weight: 500;
}
.order-details{
  color: #999;
  font-size: 14px;
  margin-top: 10px;
}
.lg{
  line-height: 44px;
  color: #999;
}
.grey{
  line-height: 44px;
  color: #666;
}
.order-title{
  line-height: 40px;
}
.info{
  margin: 10px 0;
  img{
    height: 40px;
    width: 40px;
    margin-top: 7px;
  }
  .add{
    width: 90%;
  }
  .name{
    font-size: 17px;
    color: #333333;
  }
  .city{
    font-size: 16px;
    color: #666666;
  }
  .order-info{
    font-size: 14px;
  }
}
.expand{
  height: 44px;
  img{
    width: 19px;
    height: 10px;
  }
}
.unexpand{
  height: 44px;
  img{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    width: 19px;
    height: 10px;
  }
}
.tel{
  width: 17px;
  height: 17px;
  vertical-align: middle;
}
.package{
  font-size: 14px;
  .pg-co{
    width: 49px;
    height: 49px;
  }
  .package-info{
    width: 77%;
  }
  .copy{
    img{
      width: 15px;
      height: 15px;
      margin: 0 auto;
    }
    width: 30px;
    height: 30px;
  }
  .package-left{
    color: #333;
  }
  .package-right{
    color: #666;
  }
}
.confirm{
  padding: 50px 20px 15px;
  .btn{
    width: 100%;
    background-color: #4D7BF3;
    height: 48px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 20px 0 #D3DCF4;
  }
}
.iphone-x{
  height: 34px;
}
.go-home-main{
  width: 60px;
  height: 60px;
  bottom: 90px;
  right: 20px;
  position: fixed;
  border-radius: 30px;
  z-index: 10;
  button{
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 60px;
    background-color: #4D7BF3;
    height: 60px;
    color: white;
    font-size: 14px;
    line-height: 15px;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 #D3DCF4;
  }
}
</style>
