<template>
  <div class="app">
    <div class="hint flex-m flex-space" v-if="showHint">
      <div>提示：寄件人区域暂仅支持上海市</div>
      <div class="hint-btn flex-c-m" @click="showHint = false">
        <img class="hint-pic" v-if="assetsPath" :src="assetsPath + '/close.png'">
      </div>
    </div>
    <div class="box shadow">
      <div class="box-item">
        <div class="ml-10 flex-m">
          <div class="pic flex-c-m">
            <img class="pic" v-if="assetsPath" :src="assetsPath + '/send/send.png'">
          </div>
          <div class="address" @click="pickAdd(0)">
            <div class="address-info">
              <div v-if="sendInfo">
                <div class="ellipsis title">{{ sendInfo.userName }} {{ sendInfo.telNumber}}</div>
                <div class="ellipsis">{{ sendInfo.provinceName + sendInfo.cityName + sendInfo.countyName + sendInfo.detailInfo }}</div>
              </div>
              <div v-else-if="sendDefaultAddress">
                <div class="ellipsis title">{{ sendDefaultAddress.sendPeople }} {{ sendDefaultAddress.sendPeopleTel}}</div>
                <div class="ellipsis">{{ sendDefaultAddress.sendProvince + sendDefaultAddress.sendCity + sendDefaultAddress.sendDistrict + sendDefaultAddress.sendAddress }}</div>
              </div>
              <div v-else class="title flex-m empty">请填写寄件人信息</div>
            </div>
          </div>
          <div class="icon" @click="nav('/pages/adformadmin/main')">
            <div class="icon-item flex-c-m">
              <img class="icon-pic" v-if="assetsPath" :src="assetsPath + '/send/address_book.png'">
            </div>
          </div>
        </div>
      </div>
      <div class="line ml-15"></div>
      <div class="box-item">
        <div class="ml-10 flex-m">
          <div class="pic flex-c-m">
            <img class="pic" v-if="assetsPath" :src="assetsPath + '/send/receive.png'">
          </div>
          <div class="address" @click="pickAdd(1)">
            <div class="address-info">
              <div v-if="receiveDefaultAddress">
                <div class="ellipsis title">{{ receiveDefaultAddress.sendPeople }} {{ receiveDefaultAddress.sendPeopleTel}}</div>
                <div class="ellipsis">{{ receiveDefaultAddress.sendProvince + receiveDefaultAddress.sendCity + receiveDefaultAddress.sendDistrict + receiveDefaultAddress.sendAddress }}</div>
              </div>
              <div v-else-if="receiveInfo">
                <div class="ellipsis title">{{ receiveInfo.userName }} {{ receiveInfo.telNumber}}</div>
                <div class="ellipsis">{{ receiveInfo.provinceName + receiveInfo.cityName + receiveInfo.countyName + receiveInfo.detailInfo }}</div>
              </div>
              <div v-else class="title flex-m empty">请填写收件人信息</div>
            </div>
          </div>
          <div class="icon" @click="nav('/pages/adtoadmin/main')">
            <div class="icon-item flex-c-m">
              <img class="icon-pic" v-if="assetsPath" :src="assetsPath + '/send/address_book.png'">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shadow">
      <div>
        <div class="detail flex-m flex-space">
          <div class="detail-item flex-space" @click="nav('/pages/selectCompany/main?pageName=' + '/pages/send/main')">
            <div>选择快递公司</div>
            <div class="grey" v-if="company">{{company.companyName}}</div>
          </div>
          <div>
            <img v-if="assetsPath" :src="assetsPath + '/send/arrow.png'">
          </div>
        </div>
        <div class="line mx-10"></div>
      </div>
      <div>
        <div class="detail flex-m flex-space">
          <div class="detail-item flex-space" @click="nav('/pages/appointmentTime/main')">
            <div>预约取件时间</div>
            <div class="grey" v-if="time">{{time}}</div>
          </div>
          <div>
            <img v-if="assetsPath" :src="assetsPath + '/send/arrow.png'">
          </div>
        </div>
        <div class="line mx-10"></div>
      </div>
      <div @click="productType">
        <div class="detail flex-m flex-space">
          <div class="detail-item flex-space">
            <div>物品类型／重量</div>
            <div class="grey" v-if="productTypeAndWeight">{{productTypeAndWeight}}</div>
          </div>
          <div>
            <img v-if="assetsPath" :src="assetsPath + '/send/arrow.png'">
          </div>
        </div>
        <div class="line mx-10"></div>
      </div>
      <div>
        <div class="detail flex-m flex-space">
          <div class="detail-item flex-space" @click="valuation">
            <div>保价</div>
            <div class="grey" v-if="isValuation == '1'">保价</div>
            <div class="grey" v-else-if="isValuation == '0'">不保价</div>
            <div class="grey" v-else>建议保价</div>
          </div>
          <div>
            <img v-if="assetsPath" :src="assetsPath + '/send/arrow.png'">
          </div>
        </div>
      </div>
    </div>
    <div class="shadow" @click="message">
      <div class="detail flex-m flex-space">
        <div class="detail-item flex-space">
          <div>留言给快递员</div>
          <div class="grey-msg ellipsis" v-if="leaveMessage">{{leaveMessage}}</div>
          <div class="grey" v-else>选填</div>
        </div>
        <div>
          <img v-if="assetsPath" :src="assetsPath + '/send/arrow.png'">
        </div>
      </div>
    </div>
    <div class="shadow">
      <div class="detail flex-m flex-space">
        <div class="detail-item flex-space">
          <div>付款方式</div>
          <div>月结支付</div>
        </div>
      </div>
      <div class="line mx-10"></div>
      <div>
        <div class="detail flex-m flex-space">
          <div class="detail-item flex-m">
            <div class="pay-method">月结账号：</div>
            <input type="num" name="" placeholder="请输入月结账号" v-model="monthAccount" maxlength="15">
          </div>
          <div>
            <img v-if="assetsPath" :src="assetsPath + '/send/arrow.png'">
          </div>
        </div>
        <div class="line mx-10"></div>
      </div>
      <div>
        <div class="detail flex-m flex-space">
          <div class="detail-item flex-m">
            <div class="pay-method">绑定订单码：</div>
            <input type="text" name="" placeholder="请输入订单码" v-model="scanCode" maxlength="15" @input="scanCode = scanCode.replace(/[^\w\.\/]/ig, '')">
          </div>
          <div @click="scan">
            <img class="scan" v-if="assetsPath" :src="assetsPath + '/send/scan.png'">
          </div>
        </div>
      </div>
    </div>
    <div class="last-box">
      <div class="flex-m mx-10 checkbox" @click="checkbox=!checkbox">
        <div v-if="checkbox" class="tick ticked flex-c-m">
          <img v-if="assetsPath" :src="assetsPath + '/send/tick.png'">
        </div>
        <div v-else class="tick flex-c-m"></div>
        <div type="checkbox" name="" v-model="checkbox">我已阅读并同意</div>
        <div><a href="/pages/rules/main" class="blue">《服务协议》</a></div>
      </div>
    </div>
    <div class="order" :class="{'iphone-x': isIPX}">
      <div class="line"></div>
      <div class="flex-space order-info">
        <div class="c-l">
          <div class="flex-m">
            <div v-if="totalFreight">预估运费：<span>{{totalFreight}}元</span></div>
            <div v-else>预估运费：<span>0元</span></div>
          </div>
          <div class="order-desc">以配送员上门后称重为准</div>
        </div>
        <button class="c-r flex-c-m" :disabled="disabled" @click="submitOrder">下单</button>
      </div>
    </div>
    <product-type-dialog ref="productTypeDialog" @productType="getProductType"/>
    <leave-message-dialog ref="leaveMessageDialog" @message="getMessage" :leaveMessage="leaveMessage"/>
  </div>
</template>

<script>

import productTypeDialog from "../../components/productTypeDialog";
import leaveMessageDialog from "../../components/leaveMessageDialog";

import api from './api'
import utils from '@/utils'
export default {
  data () {
    return {
      showHint: true,
      sendInfo: '',
      receiveInfo: '',
      checkbox: false,
      scanCode: '',
      company: '',
      insurance: '',
      isValuation: '', // 是否保价
      sendAddressList: [],
      sendPageNo: 1,
      member_id: '',
      sendDefaultAddress: '', // 默认寄件
      receiveAddressList: [],
      receivePageNo: 1,
      receiveDefaultAddress: '',
      monthAccount: '',
      leaveMessage: '',
      productTypeAndWeight: '',
      productTypeId: '',
      productName: '',
      productWeight: '',
      blUserInfo: '',
      // 预约取件时间参数
      appointmentTime: '',
      time: '',
      anticipateTime: '',
      freightAmount: '', // 预估运费(不含保价金额)
      totalFreight: '' // 运费总价
    }
  },
  components: {
    leaveMessageDialog,
    productTypeDialog
  },
  computed: {
    assetsPath() {
      return this.$assetsPath
    },
    isIPX() {
      return this.$isIPX
    },
    disabled() {
      // todo 更多 按钮判断
      if (this.sendInfo || this.receiveInfo || this.company || this.monthAccount || this.productTypeAndWeight || this.appointmentTime || this.scanCode) {
        return false
      } else {
        return true
      }
    }
  },
  onLoad() {
    this.sendInfo = ''
    this.receiveInfo = ''
    this.appointmentTime = ''
    this.company = ''
    this.scanCode = ''
    this.sendAddressList = []
    this.leaveMessage = ''
  },
  onShow() {
    if (wx.getStorageSync("member_id") && wx.getStorageSync("blUserInfo")) {
      this.member_id = wx.getStorageSync("member_id")
      this.blUserInfo = wx.getStorageSync("blUserInfo")
      console.log(this.member_id)
    } else {
      wx.navigateTo({
        url: '/pages/authorize/main'
      })
    }
    wx.getStorageSync("company") && (this.company = wx.getStorageSync("company"))
    if (wx.getStorageSync("appointmentTime")) {
      this.appointmentTime = wx.getStorageSync("appointmentTime");
      this.time = this.appointmentTime.week + " " + this.appointmentTime.date + " " + this.appointmentTime.time;
      console.log(this.appointmentTime.time.split('-'), 'time')
    }
    // 保价
    if (wx.getStorageSync("insurancePrice")) {
      this.insurance = wx.getStorageSync("insurancePrice");
      this.isValuation = this.insurance.isValuation
    }
    // 查询默认寄、收地址
    this.checkSelectedAdd()
    this.getSendAdd()
    this.getReceiveAdd()
    // 查询月结账号
    this.getMonthAccount()
  },
  methods: {
    getProductType(name, id, weight) {
      this.productName = name;
      this.productWeight = weight
      this.productTypeId = id;
      this.productTypeAndWeight = name + "/" + weight + "公斤";
      this.selectOrderFreightAmount()
    },
    getMessage(val) {
      this.leaveMessage = val;
    },
    pickAdd(i) {
      console.log('methods', i)
      let that = this
      wx.chooseAddress({
        complete (res) {
          console.log(res)
          if (!res.userName) {
            // utils.Toast(res.errMsg)
          } else {
            if (i == 0) {
              // send
              that.sendInfo = res
              wx.setStorageSync('sendInfo', res)
              if (that.sendInfo.cityName != '上海市') {
                wx.showToast({
                  title: '提示',
                  content: '寄件地址仅支持上海市'
                })
              }
            } else {
              // receive
              that.receiveInfo = res
              wx.setStorageSync('receiveInfo', res)
            }
          }
        }
      })
    },
    scan() {
      let that = this
      wx.scanCode({
        scanType: ['barCode', 'qrCode'],
        complete (res) {
          that.scanCode = res.result
          console.log(this.scanCode)
        },
        fail () {
          wx.showToast({
            title: '扫码失败',
            icon: 'none',
            mask: true
          })
        }
      })
    },
    productType() {
      this.$refs.productTypeDialog.show();
    },
    message() {
      this.$refs.leaveMessageDialog.show();
    },
    nav(url) {
      wx.navigateTo({
        url: url
      })
    },
    // 添加保价
    valuation() {
      if (this.company && this.company.companyCode) {
        if (this.productTypeId) {
          let obj = {
            "expressCompanyCode": this.company && this.company.companyCode, // 承运商编码
            "itemTypeId": this.productTypeId // 物品类型ID to do
          }
          // 跳转到保价页面
          wx.navigateTo({
            url: "/pages/insurancePrice/main?params=" + JSON.stringify(obj)
          })
        } else {
          utils.Toast('请选择物品类型/重量')
        }
      } else {
        utils.Toast('请选择快递公司')
      }
    },
    // 获取收货地址列表
    getSendAdd() {
      api.querySendAddress({
        memberId: this.member_id,
        pageNo: this.sendPageNo++,
        pageSize: 10
      }).then(data => {
        let list = JSON.parse(data.obj).list
        if (list && list.length) {
          list.forEach((item) => {
            this.sendAddressList.push(item)
          })
          this.getSendAdd()
        } else {
          // 地址列表获取完毕 找到默认地址
          this.sendAddressList.length && this.getDefaultAdd('send')
        }
      })
    },
    getReceiveAdd() {
      api.queryReceiveAddress({
        memberId: this.member_id,
        pageNo: this.receivePageNo++,
        pageSize: 10
      }).then(data => {
        let list = JSON.parse(data.obj).list
        if (list && list.length) {
          list.forEach((item) => {
            this.receiveAddressList.push(item)
          })
          this.getReceiveAdd()
        } else {
          // 地址列表获取完毕 找到默认地址
          this.receiveAddressList.length && this.getDefaultAdd('receive')
        }
      })
    },
    getDefaultAdd(i) {
      if (i == 'send') {
        this.sendAddressList.forEach((i, index) => {
          if (i.isDefaultAddress == 1) {
            this.sendDefaultAddress = this.sendAddressList[index]
          }
        })
      } else {
        this.receiveAddressList.forEach((i, index) => {
          if (i.isDefaultAddress == 1) {
            this.receiveDefaultAddress = this.receiveAddressList[index]
          }
        })
      }
    },
    getMonthAccount() {
      api.getDefaultMonthAccount({
        memberId: this.member_id
      }).then(data => {
        if (data.resCode == '00100000') {
          if (data.obj && JSON.parse(data.obj).settlementAccount) {
            this.monthAccount = JSON.parse(data.obj).settlementAccount
            console.log('有月结账户', this.monthAccount)
          }
        }
      })
    },
    checkSelectedAdd() {
      if (wx.getStorageSync("sendInfo")) {
        this.sendInfo = wx.getStorageSync("sendInfo")
      }
      if (wx.getStorageSync("receiveInfo")) {
        this.receiveInfo = wx.getStorageSync("receiveInfo")
      }
    },
    getAnticipateTime(fromSubmit) {
      api.queryAnticipateTime({
        expressCompanyCode: this.company.companyCode,
        itemTypeId: String(this.productTypeId),
        orderCollectTime: this.appointmentTime.date + ' ' + this.appointmentTime.time.split('-')[0] + ':00',
        receiveProvince: this.receiveInfo.provinceName,
        sendProvince: this.sendInfo ? this.sendInfo.provinceName : this.sendDefaultAddress.sendProvince
      }).then(data => {
        console.log('queryAnticipateTime', data)
        if (data.resCode == '00100000') {
          this.anticipateTime = data.obj
          if (fromSubmit) {
            this.submitOrder()
          }
        } else {
          utils.Toast('预估到达时间 ' + data.msg)
        }
      })
    },
    selectOrderFreightAmount(fromSubmit) {
      if (this.receiveInfo && this.receiveInfo.provinceName) {
        if (this.sendInfo || this.sendDefaultAddress) {
          if (this.company) {
            if (this.productTypeAndWeight) {
              api.selectOrderFreightAmount({
                expressCompanyCode: this.company.companyCode,
                itemTypeId: String(this.productTypeId),
                itemWeight: this.productWeight,
                receiveProvince: this.receiveInfo.provinceName,
                sendProvince: this.sendInfo ? this.sendInfo.provinceName : this.sendDefaultAddress.sendProvince
              }).then(data => {
                console.log('预估运费金额：', data)
                if (data.resCode == '00100000') {
                  this.freightAmount = data.obj
                  if (data.obj !== 'null') {
                    if (fromSubmit) {
                      this.addFreight(fromSubmit)
                    } else {
                      this.addFreight()
                    }
                  } else {
                    utils.Toast('未获取到预估运费')
                  }
                } else {
                  utils.Toast(data.msg)
                }
              })
            } else {
              utils.Toast('请选择物品类型/重量')
            }
          } else {
            utils.Toast('请选择快递公司')
          }
        } else {
            utils.Toast('请填写寄件地址')
          }
      } else {
        utils.Toast('请填写收件地址')
      }
    },
    addFreight(fromSubmit) {
      if (this.freightAmount && this.insurance.insurancePrice) {
        this.totalFreight = (Number(this.freightAmount) + Number(this.insurance.insurancePrice)).toFixed(2)
      } else if (this.freightAmount) {
        this.totalFreight = Number(this.freightAmount)
      } else if (this.insurance && this.insurance.insurancePrice) {
        this.totalFreight = Number(this.insurance.insurancePrice)
      }
      if (fromSubmit) {
        this.submitOrder()
      }
      console.log('add freight', this.insurance.insurancePrice, this.freightAmount)
      console.log('this.totalFreight', this.totalFreight)
    },
    submitOrder() {
      if (this.sendDefaultAddress || this.sendInfo) {
        if (this.receiveDefaultAddress || this.receiveInfo) {
          let sendAdd = this.sendDefaultAddress ? this.sendDefaultAddress : this.sendInfo
          let receiveAdd = this.receiveDefaultAddress ? this.receiveDefaultAddress : this.receiveInfo
          if (!(JSON.stringify(sendAdd) == JSON.stringify(receiveAdd))) {
            if (this.company) {
              if (this.appointmentTime) {
                if (this.productTypeAndWeight) {
                  if (this.monthAccount) {
                    if (this.scanCode) {
                      if (this.checkbox) {
                        if (this.anticipateTime) {
                          if (this.freightAmount) {
                            this.goSubmit()
                          } else {
                            this.selectOrderFreightAmount(true)
                          }
                        } else {
                          // 预计送达时间 + 预估运费
                          this.getAnticipateTime(true)
                        }
                      } else {
                        utils.Toast('请阅读并同意《服务协议》')
                      }
                    } else {
                      utils.Toast('请输入绑定订单码')
                    }
                  } else {
                    utils.Toast('请输入月结账号')
                  }
                } else {
                  utils.Toast('请选择物品类型/重量')
                }
              } else {
                utils.Toast('请选择预约取件时间')
              }
            } else {
              utils.Toast('请选择快递公司')
            }
          } else {
            utils.Toast('提示收件地址和寄件地址不能相同')
          }
        } else {
        utils.Toast('请填写收件地址')
      }
      } else {
        utils.Toast('请填写寄件地址')
      }
    },
    goSubmit() {
      utils.Loading()
      // this.navigation('/pages/reserveSuccess/main')
      let request = {
        "orderNo": this.scanCode, // 绑定订单码
        "expressCompanyCode": this.company.companyCode,
        "expressCompanyName": this.company.companyName,
        "isReadServiceAccord": this.checkbox ? '1' : '0', // 是否阅读服务协议 0否 1是
        "itemTypeId": this.productTypeId,
        "itemTypeName": this.productName,
        "isSupportValue": String(this.isValuation), // 是否保价 0否 1是
        "itemValue": Number(this.insurance.inputPrice) ? Number(this.insurance.inputPrice) : 0, // 物品价值
        "supportValue": Number(this.insurance.insurancePrice) ? Number(this.insurance.insurancePrice) : 0, // 保价金额
        "itemWeight": this.productWeight,
        "memberId": this.member_id,
        "memberName": this.blUserInfo.member_name,
        "memberTel": this.blUserInfo.mobile, // '12345678901'
        "orderCollectTime": this.appointmentTime.date + ' ' + this.appointmentTime.time.split('-')[0] + ':00',
        "orderStartCollectTime": this.appointmentTime.time.split('-')[0],
        "orderEndCollectTime": this.appointmentTime.time.split('-')[1],
        "orderAnticipateTime": this.anticipateTime, // 预计送达时间
        "packageAmount": "1",
        "receivePeople": this.receiveInfo.userName,
        "receivePeopleTel": this.receiveInfo.telNumber,
        "receiveProvince": this.receiveInfo.provinceName,
        "receiveCity": this.receiveInfo.cityName,
        "receiveDistrict": this.receiveInfo.countyName,
        "receiveAddress": this.receiveInfo.detailInfo,
        "sendPeople": this.sendInfo ? this.sendInfo.userName : this.sendDefaultAddress.sendPeople,
        "sendPeopleTel": this.sendInfo ? this.sendInfo.telNumber : this.sendDefaultAddress.sendPeopleTel,
        "sendProvince": this.sendInfo ? this.sendInfo.provinceName : this.sendDefaultAddress.sendProvince,
        "sendCity": this.sendInfo ? this.sendInfo.cityName : this.sendDefaultAddress.sendCity,
        "sendDistrict": this.sendInfo ? this.sendInfo.countyName : this.sendDefaultAddress.sendDistrict,
        "sendAddress": this.sendInfo ? this.sendInfo.detailInfo : this.sendDefaultAddress.sendAddress,
        "settlementAccount": this.monthAccount, // 月结账号
        "resource": "APPLET",
        "payType": "2",
        "freightAmount": Number(this.totalFreight), // 预估运费金额
        "courierMessage": this.leaveMessage ? this.leaveMessage : ''
      }
      console.log('下单request', request)
      wx.getNetworkType({
        success (res) {
          let networkType = res.networkType
          if (networkType !== 'none') {
            api.submitOrder(request).then(data => {
              if (data.resCode == '00100000') {
                wx.removeStorageSync('sendInfo')
                wx.removeStorageSync('receiveInfo')
                wx.removeStorageSync('appointmentTime')
                wx.removeStorageSync('insurancePrice')
                utils.CloseLoading()
                // wx.setStorageSync('sendInfo', JSON.parse(data.obj))
                let resData = JSON.parse(data.obj)
                wx.redirectTo({
                  url: '/pages/reserveSuccess/main?orderNo=' + resData.orderNo + '&expressNo=' + resData.expressNo
                })
              } else {
                utils.Toast(data.msg)
              }
            })
          } else {
            utils.Toast('网络异常，请稍后再试')
          }
        }
      })
    }
  },
  watch: {
    sendInfo(val) {
      if (val.provinceName && val.provinceName !== '上海市') {
        utils.Toast('寄件人区域暂仅支持上海市')
        this.sendInfo = ''
        wx.removeStorageSync('sendInfo')
      }
    },
    receiveInfo(val) {
      console.log('receiveInfo:', val)
      if (this.productTypeAndWeight) {
        this.selectOrderFreightAmount()
      }
    },
    insurance(val) {
      this.insurance = val
      console.log('insurance freightAmount', val)
      if (val.isValuation == 1) {
        // 保价 加运费
        this.addFreight()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.hint{
  font-size: 12px;
  color: #666666;
  line-height: 12px;
  background-color: #EDF0F9;
  height: 40px;
  padding: 0 10px 0 15px;
  .hint-btn{
    height: 20px;
    width: 20px;
  }
  .hint-pic{
    height: 16px;
    width: 16px;
  }
}
.box{
  background-color: #fff;
  height: 160px;
}
.shadow{
  margin: 10px;
  box-shadow: 0 0 15px 0 rgba(214,214,223,0.30);
}
.box-item{
  height: 80px;
  width: 100%;
}
.pic{
  height: 100%;
  width: 14%;
}
.pic img{
  height: 50px;
  width: 50px;
  left: 15px;
  position: absolute;
}
.address{
  height: 100%;
  width: 66%;
  font-size: 12px;
  color: #666666;
  line-height: 24px;
}
.title{
  font-size: 18px;
  line-height: 28px;
  margin-top: 13px;
  color: #333333;
}
.icon{
  height: 100%;
  width: 20%;
}
.icon-item{
  height: 60%;
  margin-top: 20%;
  border-left: 1px solid rgba(214,214,223,0.30);
}
.icon-pic{
  width: 18px;
  height: 18px;
}
.empty{
  margin-top: 25px;
}
.detail{
  height: 50px;
  margin: 0 10px;
}
.detail img{
  width: 7px;
  height: 11px;
  margin-left: 5px;
}
.detail-item{
  width: 100%;
  font-size: 14px;
  color: #333333;
}
.detail-item input{
  width: 225px;
  font-size: 14px;
  line-height: 16px;
}
.pay-method{
  width: 85px;
}
.scan{
  width: 18px !important;
  height: 18px !important;
}
.grey{
  color: #999;
  max-width: 200px;
  overflow: hidden;
}
.grey-msg{
  color: #999;
  max-width: 130px;
  overflow: hidden;
}
.checkbox{
  font-size: 12px;
  color: #999;
  font-weight: 600;
}
.checkbox input{
  zoom: 70%;
}
.order{
  // margin-top: 90px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
.iphone-x{
  height: 98px;
}
.c-l{
  width: 60%;
  height: 44px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.c-l span{
  color: #ff568d;
}
.c-r{
  width: 38%;
  color: white;
  font-size: 16px;
  height: 44px;
  background-color: #4D7BF3;
  border-radius: 5px;
}
.order-info{
  margin: 15px;
}
.order-desc{
  font-size: 13px;
  color: #999;
  font-weight: 500;
  margin-top: 3px;
}
.tick{
  height: 15px;
  width: 15px;
  margin-right: 5px;
  border: 1px solid #e9e9e9;
}
.ticked img{
  height: 16px;
  width: 20px;
}
.last-box{
  padding-bottom: 40%;
}
</style>
