<template>
  <div>
    <div class="main">
      <div class="mine-info flex-m">
        <img class="avatar" v-if="assetsPath && avatar" :src="avatar">
        <img class="avatar" v-else-if="assetsPath" :src="assetsPath + '/mine/avatar.png'">
        {{ newPhone }}
      </div>
      <div class="shadow mt-10">
        <a href="/pages/adformadmin/main?mine">
          <div class="detail flex-m flex-space">
            <div class="detail-item flex-space">
              <div>寄件人地址管理</div>
            </div>
            <div>
              <img v-if="assetsPath" :src="assetsPath + '/send/arrow.png'">
            </div>
          </div>
        </a>
        <div class="line mx-10"></div>
        <a href="/pages/adtoadmin/main?mine">
          <div class="detail flex-m flex-space">
            <div class="detail-item flex-space">
              <div>收件人地址管理</div>
            </div>
            <div>
              <img v-if="assetsPath" :src="assetsPath + '/send/arrow.png'">
            </div>
          </div>
        </a>
        <div class="line mx-10"></div>
        <a href="/pages/download/main">
          <div class="detail flex-m flex-space">
            <div class="detail-item flex-space">
              <div>下载i百联APP</div>
            </div>
            <div>
              <img v-if="assetsPath" :src="assetsPath + '/send/arrow.png'">
            </div>
          </div>
        </a>
        <div class="line mx-10"></div>
        <div class="detail flex-m flex-space" @click="showToast = true">
          <div class="detail-item flex-space">
            <div>联系客服</div>
            <div class="grey">服务时间：工作日9:00-18:00</div>
          </div>
          <div>
            <img v-if="assetsPath" :src="assetsPath + '/send/arrow.png'">
          </div>
        </div>
      </div>
    </div>
    <div class="toast absolute-top" v-if="showToast">
      <div class="toast-mask absolute-top"></div>
      <div class="flex-c-m">
        <div class="toast-box">
          <div class="toast-info">
            <div class="flex-c-m phone-call">百联客服电话（转分机号09343）</div>
            <div class="phone-no flex-c-m">021-63122222</div>
          </div>
          <div class="line"></div>
          <div class="toast-btn flex-space">
            <div class="btn-l flex-c-m" @click="showToast = false">取消</div>
            <div class="btn-r flex-c-m" @click="call">拨打</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import utils from '@/utils'
export default {
  data () {
    return {
      phone: '',
      newPhone: '',
      showToast: false,
      avatar: '', // 百联头像
      wxAvatar: '' // 微信头像
    }
  },
  components: {
  },
  methods: {
    call() {
      this.showToast = false
      let hour = new Date().getHours()
      if (hour >= 9 && hour <= 17) {
        wx.makePhoneCall({
          phoneNumber: '021-63122222'
        })
      } else {
        utils.Toast('请在客服工作时间联系')
      }
    },
    getBLAvatar() {
      if (wx.getStorageSync('blUserInfo').avatarUrl) {
        this.avatar = 'https://mh5.bl.com/' + wx.getStorageSync('blUserInfo').avatarUrl
        console.log('this.avatar', this.avatar)
        this.getMobile(wx.getStorageSync('blUserInfo').mobile)
      }
    },
    getMobile(mobile) {
      if (mobile) {
        console.log(mobile)
        if (!this.newPhone) {
          this.newPhone += mobile.substring(0, 3)
          for (let i = 0; i < 4; i++) {
            this.newPhone += '*'
          }
          this.newPhone += mobile.substring(mobile.length - 4, mobile.length)
        }
      }
    }
  },
  computed: {
    assetsPath() {
      return this.$assetsPath
    }
  },
  onShow() {
    if (wx.getStorageSync('wxInfo') && wx.getStorageSync('wxInfo').userInfo.avatarUrl) {
      this.avatar = wx.getStorageSync('wxInfo').userInfo.avatarUrl
      this.getBLAvatar()
    } else {
      this.getBLAvatar()
    }
  },
  onLoad() {
    utils.isLogin()
  }
}
</script>

<style lang="scss" scoped>
.main{
  .mt-10{
    margin-top: 10px;
  }
  margin: 10px;
  .mine-info{
    height: 90px;
    width: 100%;
    box-shadow: 0 0 15px 0 rgba(214,214,223,0.30);
    border-radius: 3px;
    font-size: 16px;
  }
  .avatar{
    height: 50px;
    width: 50px;
    margin: 0 15px;
    border-radius: 50%;
  }
  .shadow{
    box-shadow: 0 0 15px 0 rgba(214,214,223,0.30);
    border-radius: 3px;
  }
  .detail{
    height: 50px;
    margin: 0 10px;
  }
  .detail img{
    width: 7px;
    height: 11px;
    margin-left: 5px;
  }
  .grey{
    color: #999;
  }
  .detail-item{
    width: 100%;
    font-size: 14px;
    color: #333333;
  }
  .detail-item input{
    width: 225px;
    font-size: 14px;
  }
  /* 去除a标签点击时灰色背景 */
  a,a:link{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
  }
}
.toast{
  height: 100%;
  width: 100%;
  .toast-mask{
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  .toast-box{
    position: absolute;
    top: 200px;
    width: 275px;
    height: 143px;
    background-color: #fff;
    border-radius: 5px;
  }
  .toast-info{
    height: 98px;
    font-size: 13px;
    color: #666666;
  }
  .toast-btn{
    height: 44px;
    font-size: 16px;
    font-weight: 500;
  }
  .phone-call{
    padding-top: 30px;
  }
  .phone-no{
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
  }
  .btn-l{
    width: 50%;
  }
  .btn-r{
    width: 50%;
    border-left: 1px solid #e7e7e7;
    color: #FE6C97;
  }
}
</style>
