<template>
  <div>
    <div class="price-box">
      <div class="price-title">声明价值</div>
      <div class="input-price-box">
        <input class="amount" type="number" placeholder="1-200000的整数" v-model="inputPrice" @input="insurance()" maxlength="6">
        <p class="yuan">元</p>
      </div>
      <div class="cost">
        <p>费用：</p>
        <p style="color: #FD6592">{{price}}</p>
        <p> 元</p>
      </div>
    </div>
    <div class="description-box">
      <p>说明：<br>
        1.预估收取费用仅供参考，请以现场快递员收取为准<br>
        2.物品价值不能>20万元，超过此价值的物品将以最高不超过20万元进行赔偿<br>
        3.您基于托寄物可能获得的收益、实际用途、商业机会等任何间接损失，i百联不承担赔偿责任</p>
    </div>
    <div class="price-button">
      <button class="buttom-n" @click="not">不保价</button>
      <button class="buttom-y" @click="yes">保价</button>
    </div>
  </div>
</template>

<script>
  import utils from "../../utils";
  import api from "./api/api";

  export default {
    data() {
      return {
        price: 0.00,
        inputPrice: "",
        supportValue: ''
      };
    },

    onLoad(data) {
      console.log(JSON.stringify(data));
      let json = JSON.parse(data.params);
      console.log(json.expressCompanyCode);
      console.log(json.itemTypeId);
      api.getInsuranceScale({
        expressCompanyCode: json.expressCompanyCode,
        itemTypeId: json.itemTypeId
      }).then(data => {
        console.log(JSON.stringify(data));
        if (data.obj) {
          let json = JSON.parse(data.obj);
          this.supportValue = json.supportValue
        } else {
          utils.Toast(data.msg)
        }
      })
    },
    methods: {
      insurance() {
        let value = this.inputPrice * this.supportValue / 1000;
        this.price = Math.ceil(value);
      },
      not() {
        // 不保价
        this.price = 0;
        this.inputPrice = "";
        let data = {
          isValuation: 0
        };
        wx.setStorageSync("insurancePrice", data);
        wx.navigateBack({ changed: true });
      },
      yes() {
        // 保价
        if (this.inputPrice === "") {
          utils.Toast("请填写物品声明价值");
        } else if (this.inputPrice > 200000) {
          utils.Toast("物品声明价值不能高于200000元");
        } else if (this.inputPrice === '0') {
          utils.Toast("物品声明价值为0");
        } else {
          let data = {
            isValuation: 1,
            inputPrice: this.inputPrice,
            insurancePrice: this.price
          };
          wx.setStorageSync("insurancePrice", data);
          wx.navigateBack({ changed: true });
        }
      }
    }
  };
</script>

<style scoped>
  .price-box {
    margin: 11px;
    box-shadow: 0 5px 20px 0 #D3DCF4;
    height: 158px;
  }

  .price-title {
    display: flex;
    font-size: 15px;
    padding-top: 16px;
    color: #666666;
    justify-content: center;
  }

  .input-price-box {
    display: flex;
    margin-top: 14px;
    border: 0.5px solid #D4D4D4;
    height: 49px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .amount {
    width: 100%;
    font-size: 20px;
    color: #FD6592;
    display: flex;
    height:49px;
    max-lines: 1;
    text-align:center;

  }

  .yuan {
    position: absolute;
    right: 0;
    font-size: 16px;
    margin-right: 35px;
    margin-top: 12px;
  }

  .cost {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    position: absolute;
    right: 0;
    margin-right: 25px;
    font-size: 15px;
    color: #666666;
  }

  .description-box {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 155px;
    font-size: 13px;
    color: #A1A1A1;
  }

  .price-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 24px;
    width: 100%;
    height: 48px;
  }

  .buttom-n {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    font-size: 16px;
    color: #4D7BF3;
  }

  .buttom-y {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    font-size: 16px;
    color: #FFFFFF;
    background: #4D7BF3;
    right: 0;
  }
</style>
