<script>
export default {
}
</script>

<style>
/* this rule will be remove */
* {
  transition: width 2s;
  -moz-transition: width 2s;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
}
.flex{
  display: flex;
}
.flex-c-m{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-c{
  display: flex;
  justify-content: center;
}
.flex-m{
  display: flex;
  align-items: center;
}
.flex-space{
  display: flex;
  justify-content: space-between;
}
.flex-item{
  flex: 1;
  width: 0;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ml-10{
  margin-left: 10px;
  height: 100%;
}
.ml-15{
  margin-left: 15px;
}
.mx-10{
  margin: 0 10px;
}
.blue{
  color: #4c79f5;
}
.light-grey{
  color: #999;
}
.dark-grey{
  color: #666;
}
.absolute-top{
  position: absolute;
  top: 0;
}
.line{
  border-bottom: 1px solid #D6D6DF;
  opacity: 0.3;
}
</style>
